<app-header-component></app-header-component>
<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-img src="../../../assets/images//movie_collage.jpg" style="width: 100%"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col>
      <ion-label style="font-weight: 500; font-size: xx-large;">About Us</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
    <ion-label>
      We are MovBook which is a Platform which allows users to book movie tickets from locations
      all arround the country. This platform can be used to book tickets to any of the currently
      showing movies and gives our customers flexibility to book a ticket for the cinema hall closest
      to them.
    </ion-label>
    <br>
    <br>
    <ion-label>
      Our service initally begain in the fall of 2021 and and have been providing a quality service ever since,
      and for loyal users we provide special benefits and exclusive acess to special events. Users can use our servicces
      in multiple platforms making it truly easy to access and also to easy to use thanks to our easy use simple user interface
    </ion-label>
    </ion-col>
  </ion-row>
  </ion-grid>
  <ion-grid>
  <ion-row>
    <ion-col size-md="7">
      <ion-card>
        <ion-card-content>
          <ion-card-title >Our Vision</ion-card-title>
         <ion-label>
          Provide a quslity service that satisfy rhe customer and to make this a one
          time stop for your movie booking needs
         </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-md="10" offset-md="1">
      <ion-card>
        <ion-card-content>
           <ion-card-title>Our Mission</ion-card-title>
           <ion-label>
           To have all the funtionalities that arequired and wanted by the
           customers to do there booking needs
          </ion-label>
        </ion-card-content>
     </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label style="font-weight: 500; font-size: xx-large;">Our Objectives</ion-label>
      <ul>
        <li>Book movie tickets and other requirements in one single place</li>
        <li>Provide access in multiple platforms</li>
        <li>Make the application easy to use</li>
        <li>Reward loyal users</li>
        <li>Improve the system with customer suggestion and requirements</li>
        <li>Make the process simpler and faster </li>
      </ul>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
