#movieDetailsCard{
  margin-bottom: 70px;
}

#closeMovieDetailsButton{
  margin-right: 20px;
}

#imdbRatingWheel{
  width: 90px;
  height: 90px;
  border: 14px solid #0e9b7c;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
}

#imdbRatingValue{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  position: absolute;
  top: 9px;
  right: 10%;
}

#imdbIcon{
  width: 60px;
  position: absolute;
  top: 0px;
  left: 100%;
}

#imdbVotes{
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  top: 50px;
  left: 100%;
}

/* Media query for screen size below than a width of 480px */
@media (max-width: 480px) {
  #closeMovieDetailsButton{
    margin-right: 0px;
  }

  #imdbRatingWheel{
    width: 70px;
    height: 70px;
    border: 10px solid #0e9b7c;
    right: -10px;
  }

  #imdbRatingValue{
    font-size: 25px;
    top: 5px;
    right: 9%;
  }

  #imdbIcon {
    top: 0px;
    left: 80%;
  }
}

/* Media query for screen size below than a width of 560px */
@media (max-width: 560px) {
  #movieDetailsCard{
    margin-bottom: 140px;
  }
}

#buttonsGrid{
  width: 90%;
  display: flex;
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
