
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="10" offset-md="1">
        <ion-header style="font-size: xx-large; padding-top: 10px;" >Buy Tickets</ion-header>
        <br>
        <br>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-select placeholder="All Locations" [(ngModel)]="location" (ionChange)="getlocation()">
                  <ion-select-option *ngFor="let cinemaLocation of cinemaLocationList" value="{{cinemaLocation.cinemaLocationName}}">{{cinemaLocation.cinemaLocationName}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                 <ion-datetime displayFormat="MMM/DD/YYYY" placeholder="Today: {{todayDate}}" (ionChange)="getTime()" [(ngModel)]="date"></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-select placeholder="All Experiences" [(ngModel)]="experience" (ionChange)="getexperience()">
                  <ion-select-option value="Gold" >Gold Class</ion-select-option>
                  <ion-select-option value="3D">3D Experience </ion-select-option>
                  <ion-select-option value="2D">2D Experience </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <br>
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col style="padding-left: 30px;">
                <ion-header>
                  <ion-card-title> Movie Name: {{movieDetails.title}}</ion-card-title>
                  <br>
                  <img src="{{movieDetails.poster}}">
                </ion-header>
              </ion-col>
              <ion-col>
              <div *ngIf="movielocation">
              <div *ngFor=" let movielocation of movielocation ">
                <ion-header>
                  <ion-card-title>Cinema Location: {{movielocation.cinemaLocationName}} </ion-card-title>
                </ion-header>
                <div *ngFor=" let movie of movies">
                  <ion-card-header>
                    <ion-card-subtitle style="font-weight: bold;">Cinema Experinece: {{movie.showingExperience}} </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <ion-buttons>
                            <ion-button expand="round" fill="outline" (click)="gotourl()">{{movie.showingTime}}</ion-button>
                            <hr>
                            <ion-button expand="round" fill="outline">1:30 pm</ion-button>
                            <hr>
                            <ion-button expand="round" fill="outline">4:30 pm</ion-button>
                          </ion-buttons>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-card-content>
                </div>
              </div>
              </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

