<ion-content>
  <ion-grid style="background-color: #374d58">
    <ion-row>
      <ion-col size="auto">
        <div class="profilePhoto">
          <img src="assets\images\operator.jpg" style="border-radius: 50px; width: 150px; height: 150px" />
          <span class="onlineStatus"></span>
          <h4>John Steve</h4>
          <h6>john@movbook.com</h6>
          <br />
        </div>
        <ion-button expand="block" color="button" href="operator/dashboard">Dashboard</ion-button>
        <ion-button expand="block" color="light" href="operator/movie-booking">Movie Catalogue</ion-button>
        <ion-button expand="block" color="button">Bookings</ion-button>

        <ion-button expand="block" color="button" style="margin-top: 130%">Profile</ion-button>
        <ion-button expand="block" color="button">Settings</ion-button>
      </ion-col>
      <ion-col style="width:100%;border-radius: 25px; background-color: #e8e8e8;margin: 10px;">
        <ion-row>
          <h1 style="color: #374d58;"><b>Upcoming Movies</b></h1>
        </ion-row>
        <ion-row style="height: 280px;overflow-y: scroll;">
          <ion-card>
            <ion-card-title>Test Movie</ion-card-title>
            <ion-card-content>
              <img src="https://upload.wikimedia.org/wikipedia/en/2/2a/Monsters_University_poster_3.jpg">
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-title>Test Movie</ion-card-title>
            <ion-card-content>
              <img src="https://upload.wikimedia.org/wikipedia/en/2/2a/Monsters_University_poster_3.jpg">
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-title>Test Movie</ion-card-title>
            <ion-card-content>
              <img src="https://upload.wikimedia.org/wikipedia/en/2/2a/Monsters_University_poster_3.jpg">
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-title>Test Movie</ion-card-title>
            <ion-card-content>
              <img src="https://upload.wikimedia.org/wikipedia/en/2/2a/Monsters_University_poster_3.jpg">
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-title>Test Movie</ion-card-title>
            <ion-card-content>
              <img src="https://upload.wikimedia.org/wikipedia/en/2/2a/Monsters_University_poster_3.jpg">
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-title>Test Movie</ion-card-title>
            <ion-card-content>
              <img src="https://upload.wikimedia.org/wikipedia/en/2/2a/Monsters_University_poster_3.jpg">
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-title>Test Movie</ion-card-title>
            <ion-card-content>
              <img src="https://upload.wikimedia.org/wikipedia/en/2/2a/Monsters_University_poster_3.jpg">
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-title>Test Movie</ion-card-title>
            <ion-card-content>
              <img src="https://upload.wikimedia.org/wikipedia/en/2/2a/Monsters_University_poster_3.jpg">
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-title>Test Movie</ion-card-title>
            <ion-card-content>
              <img src="https://upload.wikimedia.org/wikipedia/en/2/2a/Monsters_University_poster_3.jpg">
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-title>Test Movie</ion-card-title>
            <ion-card-content>
              <img src="https://upload.wikimedia.org/wikipedia/en/2/2a/Monsters_University_poster_3.jpg">
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-title>Test Movie</ion-card-title>
            <ion-card-content>
              <img src="https://upload.wikimedia.org/wikipedia/en/2/2a/Monsters_University_poster_3.jpg">
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-title>Test Movie</ion-card-title>
            <ion-card-content>
              <img src="https://upload.wikimedia.org/wikipedia/en/2/2a/Monsters_University_poster_3.jpg">
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-title>Test Movie</ion-card-title>
            <ion-card-content>
              <img src="https://upload.wikimedia.org/wikipedia/en/2/2a/Monsters_University_poster_3.jpg">
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-title>Test Movie</ion-card-title>
            <ion-card-content>
              <img src="https://upload.wikimedia.org/wikipedia/en/2/2a/Monsters_University_poster_3.jpg">
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-title>Test Movie</ion-card-title>
            <ion-card-content>
              <img src="https://upload.wikimedia.org/wikipedia/en/2/2a/Monsters_University_poster_3.jpg">
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-title>Test Movie</ion-card-title>
            <ion-card-content>
              <img src="https://upload.wikimedia.org/wikipedia/en/2/2a/Monsters_University_poster_3.jpg">
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-title>Test Movie</ion-card-title>
            <ion-card-content>
              <img src="https://upload.wikimedia.org/wikipedia/en/2/2a/Monsters_University_poster_3.jpg">
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-title>Test Movie</ion-card-title>
            <ion-card-content>
              <img src="https://upload.wikimedia.org/wikipedia/en/2/2a/Monsters_University_poster_3.jpg">
            </ion-card-content>
          </ion-card>
        </ion-row>
        <ion-row>
          <h1 style="color: #374d58;"><b>Showing Now</b></h1>
        </ion-row>
        <ion-row style="height: 280px;overflow-y: scroll;">
          <ion-card>
            <ion-card-title>Test Movie</ion-card-title>
            <ion-card-content>
              <img src="https://upload.wikimedia.org/wikipedia/en/2/2a/Monsters_University_poster_3.jpg">
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-title>Test Movie</ion-card-title>
            <ion-card-content>
              <img src="https://upload.wikimedia.org/wikipedia/en/2/2a/Monsters_University_poster_3.jpg">
            </ion-card-content>
          </ion-card>
        </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>