<ion-content>
  <ion-grid style="background-color: darkgray !important;">
    <ion-row>
      <ion-col size="auto">
        <img src="assets\images\MovBook-Logo.jpeg" style="width: 200px;border-radius: 5px;margin-bottom: 10px;">
        <div class="profilePhoto">
          <img src="assets\images\operator.jpg" style="border-radius: 50px; width: 150px; height: 150px" />
          <span class="onlineStatus"></span>
          <h4>John Steve</h4>
          <h6>john@movbook.com</h6>
          <br />
        </div>
        <ion-button expand="block" color="button" href="operator/dashboard">Dashboard</ion-button>
        <ion-button expand="block" color="light" href="operator/movie-booking">Movie Bookings</ion-button>
        <ion-button expand="block" color="button">Movie Catalogue</ion-button>

        <ion-button expand="block" color="button" style="margin-top: 80%">Profile</ion-button>
        <ion-button expand="block" color="button" href="operator/settings">Settings</ion-button>
      </ion-col>
      <ion-col style="width:100%;border-radius: 25px; background-color: #e8e8e8;margin: 10px;">
        <ion-row>
          <h1 style="color: darkgray !important;;"><b>Now Showing</b></h1>
        </ion-row>
        <ion-row style="height: 600px;overflow-y: scroll;">
          <ion-card *ngFor="let movie of Movies"  style="width: 250px;height: 600px;">
            <ion-img src='{{movie.imgUrl}}'></ion-img>
            <ion-card-title>{{movie.title}}</ion-card-title>
            <ion-card-subtitle>{{movie.showTime}}</ion-card-subtitle>
            <ion-card-content>
              <p>Rating: {{movie.rating}}⭐</p>
              <p>{{movie.description}}</p>
              <ion-button color="primary" (click)="book(movie)">Book Now</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-row>
    </ion-col>
    <ion-col style="width:100%;border-radius: 25px; background-color: #e8e8e8;margin: 10px;">
      <ion-row>
        <h1 style="color: darkgray !important;;"><b>Beverages</b></h1>
      </ion-row>
      <ion-row style="height: 380px;overflow-y: scroll;">
        <ion-card *ngFor="let beverage of Beverages"  style="width: 250px;height: 400px;">
          <ion-img src='{{beverage.imgURL}}'></ion-img>
          <ion-card-title>{{beverage.name}}</ion-card-title>
          <ion-card-content>
            <p>Rs:{{beverage.price}}</p>
            <p>Stock: {{beverage.stock}}</p>
            <ion-button color="warning" (click)="beverage(beverage)">Order Now</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-row>
  </ion-col>
  </ion-row>
</ion-grid>
</ion-content>