<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <div style="background-color:#f2f2f2a1 ; height: 50%;width: 40%;margin-top: 10%;margin-left: 30%;padding: 5%;">
        <ion-row align="center">
          <ion-img src="assets/icon/MovBook-Logo.jpeg" style="height: 100px;"></ion-img>
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-label position="floating">E-Mail</ion-label>
                <ion-input type="email" ngModel name="email" required email #emailCtrl="ngModel"></ion-input>
              </ion-item>
              <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
                <ion-label>
                  Should be a valid email address.
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" ngModel name="password" required minlength="6" #passwordCtrl="ngModel">
                </ion-input>
              </ion-item>
              <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
                <ion-label>
                  Should at least be 6 characters long.
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-button type="submit" color="primary" expand="block" [disabled]="!f.valid">
              Login
            </ion-button>
            <ion-button (click)="dashboard()">Dashboard</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </form>
</ion-content>