ion-content{
  --background: #374d58 !important;
}


.login-btns{
  margin: top 25px;
  text-align: center;
}

.login-btn{
  --ion-color-primary:#215AB7;
}

ion-card{
  --background: #f3f3f3;
  --ion-background-color:transparent;
  box-shadow: none !important;
}

ion-header{
  position:absolute ;
}

.wrapform{
  margin-top: 30px;
}

ion-item{
  ion-input{
      color:#647b9D
  }
}
.passwordforgot{
text-align: right;
ion-button{
  font-size: 12px;
}
}
