ion-item{
  border: #ccc solid 1px;
  border-radius: 5px;
  --ion-background-color: rgb(255, 255, 255);
}

#closeEditLocationModalButton{
  margin-right: 20px;
}

#cinemaLocationNameText{
  font-size: 18px;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#cinemaLocationAddressText{
  font-size: 18px;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  position: absolute;
  top: 30%;
  transform: translateY(-70%);
}
