<ion-content>
  <ion-grid style="background-color: #374d58">
    <ion-row>
      <ion-col size="auto">
        <img src="assets\images\MovBook-Logo.jpeg" style="width: 200px;border-radius: 5px;margin-bottom: 10px;">
        <div class="profilePhoto">
          <img src="assets\images\operator.jpg" style="border-radius: 50px; width: 150px; height: 150px" />
          <span class="onlineStatus"></span>
          <h4>{{name}}</h4>
          <h6>{{email}}</h6>
          <br />
        </div>
        <ion-button expand="block" color="light" href="operator/dashboard">Dashboard</ion-button>
        <ion-button expand="block" color="button" href="operator/movie-booking">Movie Bookings</ion-button>
        <ion-button expand="block" color="button" href="operator/manage-stock">Beverages</ion-button>
        <ion-button expand="block" color="button" href="operator/support">Support</ion-button>
        <ion-button expand="block" color="button" style="margin-top: 80%" href="operator/settings">Settings</ion-button>
      </ion-col>
      <ion-col size="3" style="border-radius: 25px; background-color: #e8e8e8;margin: 10px;">
        <ion-row>
          <h1 style="color: #374d58;"><b>Showing Now</b></h1>
        </ion-row>
        <ion-row style="overflow-y: scroll;">
          <div *ngFor="let movie of Movies">
            <ion-card *ngIf="movie.movieStatus == 'NowShowing'" style="width: 250px;">
              <ion-img src='{{movie.poster}}' style="height: 300px;"></ion-img>
              <ion-card-title>{{movie.title}} (Year: {{movie.year}})</ion-card-title>
              <ion-card-subtitle>{{movie.showTime}}</ion-card-subtitle>
              <ion-card-content>
                <p>Actors: {{movie.actors}}</p>
                <p>Awards: {{movie.awards}}</p>
                <p>Country: {{movie.country}}</p>
                <p>Director: {{movie.director}}</p>
                <p>Votes: {{movie.imdbVotes}}</p>
                <p>Language: {{movie.language}}</p>
                <p>Plot: {{movie.plot}}</p>
                <p>Production: {{movie.production}}</p>
                <p>Rated: {{movie.rated}}</p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-row>
      </ion-col>
      <ion-col size="3" style="border-radius: 25px; background-color: #e8e8e8;margin: 10px;">
        <ion-row>
          <h1 style="color: #374d58;"><b>Upcoming Movies</b></h1>
        </ion-row>
        <ion-row style="overflow-y: scroll;">
          <div *ngFor="let upcomingMovie of Movies">
            <ion-card *ngIf="upcomingMovie.movieStatus == 'Upcoming'" style="width: 250px;">
              <ion-img src='{{upcomingMovie.poster}}' style="height: 300px;"></ion-img>
              <ion-card-title>{{upcomingMovie.title}} (Year: {{upcomingMovie.year}})</ion-card-title>
              <ion-card-subtitle>{{upcomingMovie.showTime}}</ion-card-subtitle>
              <ion-card-content>
                <p>Actors: {{upcomingMovie.actors}}</p>
                <p>Awards: {{upcomingMovie.awards}}</p>
                <p>Country: {{upcomingMovie.country}}</p>
                <p>Director: {{upcomingMovie.director}}</p>
                <p>Votes: {{upcomingMovie.imdbVotes}}</p>
                <p>Language: {{upcomingMovie.language}}</p>
                <p>Plot: {{upcomingMovie.plot}}</p>
                <p>Production: {{upcomingMovie.production}}</p>
                <p>Rated: {{upcomingMovie.rated}}</p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-row>
      </ion-col>
      <ion-col size="3" style="border-radius: 25px; background-color: #e8e8e8;margin: 10px;">
        <ion-row>
          <h1 style="color: #374d58;"><b>Waitlisted Movies</b></h1>
        </ion-row>
        <ion-row style="overflow-y: scroll;">
          <div *ngFor="let waitlistedMovie of Movies">
            <ion-card *ngIf="waitlistedMovie.movieStatus == 'WaitListed'" style="width: 250px;">
              <ion-img src='{{waitlistedMovie.poster}}' style="height: 300px;"></ion-img>
              <ion-card-title>{{waitlistedMovie.title}} (Year: {{waitlistedMovie.year}})</ion-card-title>
              <ion-card-subtitle>{{waitlistedMovie.showTime}}</ion-card-subtitle>
              <ion-card-content>
                <p>Actors: {{waitlistedMovie.actors}}</p>
                <p>Awards: {{waitlistedMovie.awards}}</p>
                <p>Country: {{waitlistedMovie.country}}</p>
                <p>Director: {{waitlistedMovie.director}}</p>
                <p>Votes: {{waitlistedMovie.imdbVotes}}</p>
                <p>Language: {{waitlistedMovie.language}}</p>
                <p>Plot: {{waitlistedMovie.plot}}</p>
                <p>Production: {{waitlistedMovie.production}}</p>
                <p>Rated: {{waitlistedMovie.rated}}</p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>