<ion-header>
  <ion-toolbar>
    <ion-title>REGISTER NEW OPERATOR ACCOUNT</ion-title>
    <ion-button
      (click)="closeRegisterOperatorAccountModal()" 
      slot="end" 
      shape="round" 
      fill="outline" 
      color="danger" 
      id="closeModalButton">
      <ion-icon name="close-outline" style="font-size: 30px;"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- CONTENT CARD -->
  <ion-card>
    <ion-card-content>

      <div style="width: 70%;
                  position: relative;
                  left: 50%;
                  transform: translateX(-50%);">
        <form [formGroup]="addAccountDetailsForm" (ngSubmit)="doAddNewOperatorAccount(addAccountDetailsForm.value)">
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-label class="register-operator-account-form-text" style="position: relative;
                                                                            top: 10%;">
                  Name:
                </ion-label>
              </ion-col>
              <ion-col size="8">

                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-select placeholder="Select Prefix" okText="SELECT" cancelText="DISMISS" formControlName="namePrefix">
                          <ion-select-option value="Mr.">Mr.</ion-select-option>
                          <ion-select-option value="Sir.">Sir.</ion-select-option>
                          <ion-select-option value="Ms.">Ms.</ion-select-option>
                          <ion-select-option value="Mrs.">Mrs.</ion-select-option>
                          <ion-select-option value="Miss.">Miss.</ion-select-option>
                          <ion-select-option value="Dr.">Dr.</ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-input type="text" placeholder="Enter First Name" clearInput formControlName="firstName"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-input type="text" placeholder="Enter Middle Name" clearInput formControlName="middleName"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-input type="text" placeholder="Enter Last Name" clearInput formControlName="lastName"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>

              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <ion-label class="register-operator-account-form-text" style="position: relative;
                                                                            top: 10%;">
                  Address:
                </ion-label>
              </ion-col>
              <ion-col size="8">

                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-input type="text" placeholder="Enter Street Address" clearInput formControlName="streetAddress"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-input type="text" placeholder="Enter City" clearInput formControlName="addressCity"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-input type="text" placeholder="Enter Postal Code" clearInput formControlName="addressPostalCode"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>

              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <ion-label class="register-operator-account-form-text" style="position: absolute;
                                                                            top: 50%;
                                                                            transform: translateY(-50%);">
                  Phone Number:
                </ion-label>
              </ion-col>
              <ion-col size="8">

                <ion-grid>
                  <ion-row>
                    <ion-col size="2">
                      <div style="width: 100%;
                                  height: 100%;
                                  border: 1px solid #ccc;
                                  border-radius: 5px;">
                        <ion-label style="position: absolute;
                                          top: 50%;
                                          left: 50%;
                                          transform: translate(-50%, -50%);">
                          +94
                        </ion-label>   
                      </div>
                    </ion-col>
                    <ion-col size="10">
                      <ion-item>
                        <ion-input type="number" placeholder="Enter Number" clearInput formControlName="phoneNumber"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>

              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <ion-label class="register-operator-account-form-text" style="position: absolute;
                                                                            top: 50%;
                                                                            transform: translateY(-50%);">
                  Email Address:
                </ion-label>
              </ion-col>
              <ion-col size="8" style="padding: 3%;">
                <ion-item>
                  <ion-input type="text" placeholder="Enter Email Address" clearInput formControlName="emailAddress"></ion-input>
                </ion-item>
                <div style="position: absolute;
                            margin-left: 95%;
                            margin-top: -11%;">
                  <ion-button (click)="openVerifyEmailAddressPopover($event)">
                    VERIFY
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <ion-label class="register-operator-account-form-text" style="position: absolute;
                                                                            top: 50%;
                                                                            transform: translateY(-50%);">
                  Password:
                </ion-label>
              </ion-col>
              <ion-col size="8" style="padding: 3%;">
                <ion-item>
                  <ion-input type="password" placeholder="Enter Password" clearInput formControlName="password"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <ion-label class="register-operator-account-form-text" style="position: absolute;
                                                                            top: 50%;
                                                                            transform: translateY(-50%);">
                  Confirm Password:
                </ion-label>
              </ion-col>
              <ion-col size="8" style="padding: 3%;">
                <ion-item>
                  <ion-input type="password" placeholder="Enter Password" clearInput formControlName="confirmPassword"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row style="margin-top: 10px;">
              <ion-button color="tertiary" expand="block" type="submit" [disabled]="!addAccountDetailsForm.valid" style="min-width: 250px;
                                                                                                                              min-height: 40px;
                                                                                                                              position: relative;
                                                                                                                              left: 50%;
                                                                                                                              transform: translateX(-50%);">
                REGISTER
              </ion-button>
            </ion-row>
          </ion-grid>
        </form>
      </div>

    </ion-card-content>
  </ion-card>

</ion-content>
