ion-item{
  border: #ccc solid 1px;
  border-radius: 5px;
  --ion-background-color: rgb(255, 255, 255);
}

.edit-form-text{
  font-size: 20px;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#closeEditHallModalButton{
  margin-right: 20px;
}

#editHallFormCustomizationSection{
  display: block;
}

.seatingGridTableTableData{
  padding-right: 10px;
  padding-bottom: 10px;
}

.seatingGridTableOuterDiv{
  border: 2px solid #ffffff;
  background-color: #ffffff;
  border-radius: 5px;
}

.seatingGridTableOuterDivP{
  text-align: center;
}

.seatingGridTableInnerDiv{
  background-color: #d6d6d6;
  color: #000000;
  border-radius: 5px;
  width: 35px;
  height: 30px;
}

.seatingGridTableInnerDivP{
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
}

.seatingGridTableInnerDivSeatActive{
  background-color: #0AAA64;
  color: #ffffff;
  border-radius: 5px;
  width: 35px;
  height: 30px;
}

.seatingGridTableInnerDivSeatActive p{
  color: #ffffff;
}

.seatingGridTableInnerDivUnavailableSeat{
  background-color: #D33131;
  color: #ffffff;
  border-radius: 5px;
  width: 35px;
  height: 30px;
}

.seatingGridTableInnerDivUnavailableSeat p{
  color: #ffffff;
}
