<ion-content>
  <ion-grid style="background-color: darkgray !important;">
    <ion-row>
      <ion-col size="auto">
        <img src="assets\images\MovBook-Logo.jpeg" style="width: 200px;border-radius: 5px;margin-bottom: 10px;">
        <div class="profilePhoto">
          <img src="assets\images\account\admin\admin.png" style="border-radius: 50px; width: 150px; height: 150px" />
          <span class="onlineStatus"></span>
          <!-- Replace with {{Name}} and {{email}} plus add a online button-->
          <h4>{{admin_Prefix}} {{admin_FirstName}} {{admin_LastName}}</h4>
          <h6>{{admin_Email}}</h6>
          <br />
        </div>
        <ion-button expand="block" color="light" [routerLink]="['/','administrator','dashboard']">Dashboard
        </ion-button>
        <ion-button expand="block" color="button" [routerLink]="['/','administrator','manager-accounts']">Manager
          Accounts</ion-button>
        <ion-button expand="block" color="button" [routerLink]="['/','administrator','profile-sub-page']" style="margin-top: 50%">Profile
        </ion-button>
        <ion-button expand="block" color="button" [routerLink]="['/','administrator','settings-sub-page']">Settings</ion-button>
        <ion-button expand="block" color="button" [routerLink]="">Logout</ion-button>
      </ion-col>

      <ion-col style="width:100%;border-radius: 25px; background-color: #e8e8e8;margin: 10px;height: 700px">






        <div class="row">

          <!-- Database -->
          <div class="col-6 col-sm-6">
            <h3 style="color: darkgray !important;;"><b>Database status statistics</b></h3><br>
            <ion-card style="width: 400px;background-color: rgb(231, 231, 231);">
              <canvas #barChart></canvas>
            </ion-card>
            <br>
            <ion-card style="width: 400px;background-color: rgb(231, 231, 231);">
              <canvas #barChartStat></canvas>
            </ion-card>
            <!-- <h4 style="color: rgb(60, 97, 97);margin-left: 30px;">Database Connected</h4> -->
          </div>

          <div class="col-6 col-sm-6">
            <h3 style="color: darkgray !important;;"><b>OMDB API status statistics</b></h3>
            <h6 style="color: #000000;"><b>API Response Status : {{jsonResponse}}</b></h6>
            <h6 style="color: #000000;"><b>API Response Code : {{splitStatus}}</b></h6>
            <h6 style="color: #000000;"><b>API Response Address : {{splitAddress}}</b></h6>
            <br>

            <h3 style="color: darkgray !important;;"><b>STRIPE API status statistics</b></h3>
            <h6 style="color: #000000;"><b>API Response Status : {{jsonResponse}}</b></h6>
            <h6 style="color: #000000;"><b>API Response Code : {{splitStatus}}</b></h6>
            <h6 style="color: #000000;"><b>API Response Address : {{splitAddress}}</b></h6>
            <br>

            <h3 style="color: darkgray !important;;"><b>Employers status statistics</b></h3>
            <h6 style="color: #000000;"><b>Admin Status : {{jsonResponseManager}} - {{splitStatusManager}}  {{splitAddressManager}}</b></h6>
            <br><h6 style="color: #000000;"><b>Managers Status : {{jsonResponseManager}} - {{splitStatusManager}}  {{splitAddressManager}}</b></h6>
            <br><h6 style="color: #000000;"><b>Operators Status : {{jsonResponseManager}} - {{splitStatusManager}}  {{splitAddressManager}}</b></h6>
            <!-- <h6 style="color: #000000;"><b>Managers Status : {{splitStatusManager}}</b></h6>
            <h6 style="color: #000000;"><b>Operators Status : {{splitAddressManager}}</b></h6> -->
            <br>
            
            <!-- <ion-card style="width: 500px;background-color: rgb(231, 231, 231);margin-left: 300px;margin-right: 200px;">
              <canvas #barChart></canvas>
            </ion-card> -->
          </div>


      

        </div>





        
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>