<ion-content>
  <ion-grid style="background-color: #374d58">

    <ion-row>
      <ion-col size="auto">
        <img src="assets\images\MovBook-Logo.jpeg" style="width: 200px;border-radius: 5px;margin-bottom: 10px;">
        <div class="profilePhoto">
          <img src="assets\images\account\admin\admin.png" style="border-radius: 50px; width: 150px; height: 150px" />
          <span class="onlineStatus"></span>
          <h4>{{admin_Prefix}} {{admin_FirstName}} {{admin_LastName}}</h4>
          <h6>{{admin_Email}}</h6>
          <br />
        </div>
        <ion-button expand="block" color="button" [routerLink]="['/','administrator','dashboard']">Dashboard
        </ion-button>
        <ion-button expand="block" color="button" [routerLink]="['/','administrator','manager-accounts']">Manager
          Accounts</ion-button>
        <ion-button expand="block" color="button" [routerLink]="['/','administrator','profile-sub-page']" style="margin-top: 50%">Profile
        </ion-button>
        <ion-button expand="block" color="light" [routerLink]="['/','administrator','settings-sub-page']">Settings</ion-button>
        <ion-button expand="block" color="button" (click)="logout()">Logout</ion-button>
      </ion-col>



      <!-- White Space -->
      <ion-col style="width:100%;border-radius: 25px; background-color: #e8e8e8;margin: 10px;height: 700px">

        <h3 style="color: black;">Update Admin Account Details!</h3>


        <ion-card style="border-radius: 10px;background-color: transparent;margin-left: 150px;margin-right: 150px;">
          <form #verifyForm="ngForm" (Submit)="onSubmit(verifyForm)">

            <div><br><br></div>
            <div>
              <h5 style="color: rgb(83, 83, 83);margin-left: 70px;">Provide Login Credentials</h5>
            </div>

            <div><br><br></div>

            <div class="row">
              <div class="col-6 col-sm-4">
                <h6 style="color: black;float: right;">Email Address : </h6>
              </div>
              <div class="col-6 col-sm-4">
                <ion-item>
                  <ion-input name="emailValidation" type="email" placeholder="admin@email.com" #email="ngModel" ngModel>
                  </ion-input>
                </ion-item>
              </div>


              <div class="w-100 d-none d-md-block"></div>
              <div class="col-6 col-sm-4">
                <h6 style="color: black;float: right;">Password : </h6>
              </div>
              <div class="col-6 col-sm-4">
                <ion-item>
                  <ion-input name="password" type="password" placeholder="Password" #password="ngModel" ngModel>
                  </ion-input>
                </ion-item>
              </div>

            </div>

            <div><br></div>

            <ion-button style="margin-left: 70px;margin-top: 20px; margin-bottom: 20px;color: rgb(90, 90, 90);margin-left: 430px;margin-right: 400px;"
            [routerLink]="['/','administrator','settings-sub-page','edit-admin']"  (click)="onSubmit(verifyAdmin)">Verify
            <!--[disabled]="!allowSubmit || !this.matchForm.valid"-->
            <!-- [routerLink]="['/','administrator','settings-sub-page','edit-admin',ManagerDetails._id]" -->
            </ion-button>
          </form>
        </ion-card>


      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
