<ion-content>
  <ion-grid style="background-color: darkgray !important;">


    <ion-row>
      <ion-col size="auto">
        <img src="assets\images\MovBook-Logo.jpeg" style="width: 200px;border-radius: 5px;margin-bottom: 10px;">
        <div class="profilePhoto">
          <img src="assets\images\account\admin\admin.png" style="border-radius: 50px; width: 150px; height: 150px" />
          <span class="onlineStatus"></span>
          <h4>{{admin_Prefix}} {{admin_FirstName}} {{admin_LastName}}</h4>
          <h6>{{admin_Email}}</h6>
          <br />
        </div>
        <ion-button expand="block" color="button" [routerLink]="['/','administrator','dashboard']">Dashboard
        </ion-button>
        <ion-button expand="block" color="button" [routerLink]="['/','administrator','manager-accounts']">Manager
          Accounts</ion-button>
        <ion-button expand="block" color="button" [routerLink]="['/','administrator','profile-sub-page']" style="margin-top: 50%">Profile
        </ion-button>
        <ion-button expand="block" color="light" [routerLink]="['/','administrator','settings-sub-page']">Settings</ion-button>
        <ion-button expand="block" color="button" [routerLink]="">Logout</ion-button>
      </ion-col>

      <ion-col style="width:100%;border-radius: 25px; background-color: #e8e8e8;margin: 10px;height: 700px;">

        <h3 style="color: black;">Update Admin Account Details!</h3>





        <ion-card
          style="border-radius: 10px;background-color: transparent;margin-left: 300px;margin-right: 300px;height: 600px;overflow-y: scroll;">

          <form [formGroup]="form" (submit)="onSubmit()" >
            <div class="row" style="padding-top: 20px;">

              <div class="col-6 col-sm-4" style="margin-left: 20px;">
                <h6 style="color: black;">Full Name*</h6>
              </div>

              <div class="col-6 col-sm-7">

                <ion-item style="border-radius: 10px;margin-top: 10px;">
                  <ion-input name="name" type="text" placeholder="Prefix" formControlName="prefix"></ion-input>
                </ion-item>

                <ion-item style="border-radius: 10px;margin-top: 5px;">
                  <ion-input name="name" type="text" placeholder="First Name" formControlName="fName"></ion-input>
                </ion-item>

                <ion-item style="border-radius: 10px;margin-top: 5px;">
                  <ion-input name="name" type="text" placeholder="Middle Name" formControlName="mName"></ion-input>
                </ion-item>

                <ion-item style="border-radius: 10px;margin-top: 5px;">
                  <ion-input name="name" type="text" placeholder="Last Name" formControlName="lName"></ion-input>
                </ion-item>
              </div>

              <div class="w-100 d-none d-md-block" style="margin-top: 15px;"></div>

              <div class="col-6 col-sm-4" style="margin-left: 20px;">
                <h6 style="color: black;">Email*</h6>
              </div>

              <div class="col-6 col-sm-7">
                <ion-item style="border-radius: 10px;">
                  <ion-input name="email" type="email" placeholder="manager@email.com" formControlName="email">
                  </ion-input>
                </ion-item>
              </div>

              <div class="w-100 d-none d-md-block" style="margin-top: 15px;"></div>

              <div class="col-6 col-sm-4" style="margin-left: 20px;">
                <h6 style="color: black;">New Password</h6>
              </div>

              <div class="col-6 col-sm-7">
                <ion-item style="border-radius: 10px;">
                  <ion-input name="password" type="password" placeholder="The new Password" formControlName="newPassword">
                  </ion-input>
                </ion-item>
              </div>

              <div class="w-100 d-none d-md-block" style="margin-top: 15px;"></div>

              <div class="col-6 col-sm-4" style="margin-left: 20px;">
                <h6 style="color: black;">Current Password</h6>
              </div>

              <div class="col-6 col-sm-7">
                <ion-item style="border-radius: 10px;">
                  <ion-input name="password" type="password" placeholder="The current password" formControlName="oldPassword">
                  </ion-input>
                </ion-item>
              </div>

              <div class="w-100 d-none d-md-block" style="margin-top: 15px;"></div>

              <div class="col-6 col-sm-4" style="margin-left: 20px;">
                <h6 style="color: black;">Phone Number*</h6>
              </div>
              <div class="col-6 col-sm-2">+94</div>

              <div class="col-6 col-sm-5">
                <ion-item style="border-radius: 10px;">
                  <ion-input name="phone" type="text" placeholder="Phone No" formControlName="phone"></ion-input>
                </ion-item>
              </div>

              <div class="w-100 d-none d-md-block" style="margin-top: 15px;"></div>

              <div class="col-6 col-sm-4" style="margin-left: 20px;">
                <h6 style="color: black;">Address*</h6>
              </div>
              <div class="col-6 col-sm-7">
                <ion-item style="border-radius: 10px;">
                  <ion-input name="address" type="text" placeholder="Street Address" formControlName="address">
                  </ion-input>
                </ion-item>

                <ion-item style="border-radius: 10px; margin-top: 5px;">
                  <ion-input name="address" type="text" placeholder="City" formControlName="city">
                  </ion-input>
                </ion-item>

                <ion-item style="border-radius: 10px;margin-top: 5px;">
                  <ion-input name="address" type="text" placeholder="Postal Code" formControlName="postCode">
                  </ion-input>
                </ion-item>
              </div>

            </div>

            <div><br></div>

            <div><br></div>

            <div class="row" style="margin-bottom: 20px;">
              <div class="col-6 col-sm-6">
                <ion-button size="medium" type="button" expand=""
                  style="color: rgb(90, 90, 90);float: left;margin-left: 150px;"
                  (click)="administrator/settings-sub-page" [routerLink]="['/','administrator','settings-sub-page']">Cancel
                  <!-- [routerLink]="['/','administrator','settings-sub-page','edit-admin',ManagerDetails._id]" -->
                </ion-button>
              </div>

              <div class="col-6 col-sm-6">
                <ion-button size="medium" type="submit" expand=""
                  style="color: rgb(90, 90, 90);float: right;margin-right: 150px;" >
                  Update</ion-button>
              </div>

            </div>
          </form>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
