<ion-content >
  <div style="padding-top: 120px;">
      <ion-grid>
        <ion-row>
          <ion-col size-md="6" offset-md="3">
            <ion-card  style="border-radius: 10px;">
              <ion-card-header>
                <ion-grid>
                  <ion-row>
                    <ion-col  size-md="5" offset-md="3.5">
                      <ion-avatar style="width: 100px; height: 100px; margin: auto;">
                      <img src="../../assets/images/profile.png">
                    </ion-avatar>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-md="5" offset-md="4.2" style="text-align: center;">
                      <ion-label style="margin-left: 15px; font-size: x-large; font-weight: bolder;">Welcome Back!!!</ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col size-md="6" offset-md="3">
                      <form [formGroup]="loginform" (ngSubmit)="login()">
                        <ion-item>
                          <ion-label position="floating">Username</ion-label>
                          <ion-input type="email" placeholder="example@email.com" formControlName="emailControl" required></ion-input>
                        </ion-item>
                         <div *ngIf="email.touched && email.errors">
                          <ion-label style="color: red;" position="stacked">E-mail is required</ion-label>
                          <br>
                         </div>
                         <div *ngIf="email.touched && email.errors?.pattern">
                          <ion-label style="color: red;" position="stacked">Please enter a valid email address</ion-label>
                          <br>
                         </div>
                        <ion-item>
                          <ion-label position="floating">Password</ion-label>
                          <ion-input type="password" formControlName="passwordControl" required></ion-input>
                        </ion-item>
                        <div *ngIf="password.touched">
                          <ion-label style="color: red;" position="stacked">Password is required</ion-label>
                          <br>
                        </div>
                        <div *ngIf="password.errors?.minlength && password.touched">
                          <ion-label style="color: red;" position="stacked">Password needs atleast 8 characters</ion-label>
                          <br>
                        </div>
                        <div>
                            <ion-col size-md="6" style="padding-right: 100px;">
                              <ion-button  size="medium" type="submit" [disabled]="loginform.invalid" expand="block">Login</ion-button>
                            <br>
                              <ion-button size="medium" expand="block" (click)="signup()">Sign Up</ion-button>
                            </ion-col>
                        </div>
                      </form>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>
