<ion-header>
  <ion-toolbar>
    <ion-title>Payment for Tickets</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <ion-grid style="background-color: #374d58">
      <ion-row>
        <ion-col style="width:80%;border-radius: 25px; background-color: #e8e8e8;margin: 10px;">
          <ion-row>
            <h1 style="color: #374d58;"><b>Beverages</b></h1>
          </ion-row>
          <ion-row style="height: 280px;overflow-y: scroll;">
            <ion-card *ngFor="let beverage of Beverages" style="width: 230px;height: 370px;">
              <ion-img src='{{beverage.imgURL}}' style="height: 200px;"></ion-img>
              <ion-card-title>{{beverage.name}}</ion-card-title>
              <ion-card-content>
                <p>Price (LKR): {{beverage.price}}</p>
                <p>Available Quantity: {{beverage.stock}}</p>
                <ion-input placeholder="Quantity" [(ngModel)]="beverage.quantity" type="Number"></ion-input>
                <ion-button [disabled]="beverage.quantity==undefined || !beverage.quantity"
                  (click)="beverageUpdate(beverage)" color="success" size="full">Add</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-row>
        </ion-col>
        <ion-col size="3"
          style="width:200px;border-radius: 25px; background-color: #e8e8e8;margin: 10px;">
          <ion-row>
            <h1 style="color: #374d58;"><b>Booking Selection</b></h1>
          </ion-row>
          <ion-list style="overflow-y: scroll;">
            <ion-item>
              <ion-label>Movie Title: {{title}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Adult Ticket Quantity: {{adultQuantity}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Child Ticket Quantity: {{childQuantity}}</ion-label>
            </ion-item>
            <ion-item *ngFor="let seats of seatNumbers">
              <ion-label>Seat Numbers: {{seats}}</ion-label>
            </ion-item>
            <div style="padding-left: 5px;" *ngFor="let items of Refreshments">
              <ion-label>{{items}}
              </ion-label>
              <ion-icon name="remove-circle" (click)="beverageRemove()" color="danger" style="height:25px"></ion-icon>
            </div>
            <ion-item>
              <ion-label>Total: {{Total}}</ion-label>
            </ion-item>
            <ngx-stripe-card-group [elementsOptions]="elementsOptions">
              <ion-item>
                <ion-input required="true" type="email" placeholder="E-mail" [(ngModel)]="CustomerEmail" type="email">
                </ion-input>
              </ion-item>
              Card Number: <ngx-stripe-card-number [options]="cardOptions"></ngx-stripe-card-number>
              Card Expiry: <ngx-stripe-card-expiry [options]="cardOptions"></ngx-stripe-card-expiry>
              Card CVC: <ngx-stripe-card-cvc [options]="cardOptions"></ngx-stripe-card-cvc>
            </ngx-stripe-card-group>
            <ion-button (click)="book()">Pay Now</ion-button>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
