ion-item{
  border: #ccc solid 1px;
  border-radius: 5px;
  --ion-background-color: rgb(255, 255, 255);
}

.search-movie-form-text{
  font-size: 20px;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#movie-catalog-type-selection{
  display: none;
  position: absolute;
}

.cinema-catalog-selection-button{
  padding: 15px;
  background-color: rgb(0, 149, 149);
  border-radius: 10px;
}

.cinema-catalog-selection-button:hover{
  background-color: rgb(1, 170, 170);
}

ion-button{
  margin-top: 0;
  min-height: 50px;
}
