<ion-content>
  <ion-card style="min-height: 97%;
                  position: relative;
                  margin-top: 0.9%;">
    <ion-card-content>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <div style="width: 700px;
                  height: 350px;
                  box-shadow: 5px 3px 18px #888888;
                  background-color: #ffffff;
                  border-radius: 15px;
                  position: absolute;
                  margin-top: 10%;
                  transform: translateX(30%);">


        <ion-img src="assets/images/account/manager/profile-sub-page/profile-icon.png" style="width: 100px;
height: 100px;
position: relative;
left: 50%;
top: 10px;
transform: translateX(-50%);padding-bottom: 5%;"></ion-img>
        <div style="padding-left: 20%;font-size: x-large;">
          <h3>Account Details</h3>
          <h5>Name: {{Prefix}}. {{FirstName}} {{MiddleName}} {{LastName}}</h5>
          <h5>Email: {{Email}}</h5>
          <h5>Address: {{StreetAddress}}, {{City}}, {{PostalCode}}</h5>
          <h5>Phone Number: {{Phone}}</h5>
          <h5>Registered Date Time: {{RegisteredDateTime}}</h5>
        </div>
      </div>


    </ion-card-content>
  </ion-card>
</ion-content>