ion-content{
  --ion-background-color: darkgray !important;
}

ion-card{
  --ion-background-color: #f1f1f1;
  border-radius: 15px;
}

.sub-heading-text{
  font-size: 18px;
  color: #000000;
}

.user-details-text{
  font-size: 20px;
  color: #000000;
  font-weight: 500;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
  right: 20%;
}
