<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Password Change
   </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid style="padding-top: 50px;">
    <ion-row>
      <ion-col>
        <form #form="ngForm" (ngSubmit)="passwordchange()">
          <ion-item>   
            <ion-label position="floating" >Current Password</ion-label>
            <ion-input type="password" [(ngModel)]="oldpassword" name="Cpassword" required minlength="7" maxlength="30"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating">New Password</ion-label>
            <ion-input type="password" [(ngModel)]="newpassword" name="Npassword" required minlength="7" maxlength="30"></ion-input>
          </ion-item>
          <br> 
          <br>
          <br>
          <ion-button type="submit" expand="full" [disabled]="!form.valid">Change Password</ion-button>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="dismiss()" expand="full">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>