<ion-content>
  <ion-grid style="background-color: #374d58">

    <ion-row>
      <ion-col size="auto">
        <img src="assets\images\MovBook-Logo.jpeg" style="width: 200px;border-radius: 5px;margin-bottom: 10px;">
        <div class="profilePhoto">
          <img src="assets\images\account\admin\admin.png" style="border-radius: 50px; width: 150px; height: 150px">
          <span class="onlineStatus"></span>
          <h4>{{name_admin}}</h4>
          <h6>{{email_admin}}</h6>
          <br />
        </div>
        <ion-button expand="block" color="button" href="administrator/dashboard">Dashboard
        </ion-button>
        <ion-button expand="block" color="button" href="administrator/manager-accounts">Manager
          Accounts</ion-button>
        <ion-button expand="block" color="light" href="administrator/profile-sub-page" style="margin-top: 50%">
          Profile</ion-button>
        <ion-button expand="block" color="button" href="administrator/settings-sub-page">Settings</ion-button>
        <ion-button expand="block" color="button" href="">Logout</ion-button>
      </ion-col>

      <ion-col style="width:100%;border-radius: 25px; background-color: #e8e8e8;margin: 10px;height: 700px">

        <ion-row>
          <h1 style="color: #374d58;"><b>Account and Profile</b></h1>
        </ion-row>

        <ion-row>

          <ion-row style="margin-top: 30px">
            <img src="assets\images\account\admin\admin.png" style="border-radius: 50px; width: 200px; height: 200px">
          </ion-row>

          <ion-row>
            <ion-col style="margin-left: 40px;">
              <h6 style="color: black;">Name: {{name_admin}}</h6>

              <h6 style="color: black;">Email: {{email_admin}}</h6>

              <h6 style="color: black;">Password: {{password_admin}}</h6>

              <h6 style="color: black;">Status: {{status_admin}}</h6>

              <h6 style="color: black;">Type: {{type_admin}}</h6>

              <h6 style="color: black;">Phone: {{phone_admin}}</h6>

              <h6 style="color: black;">Address: {{address_admin}}</h6>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="margin-left: 100px">

              <h3 style="color:black; margin-bottom:20px">Update my Details</h3>
              <ion-input type="password" style="color:black; background-color:rgb(206, 206, 206);margin-top: 10px;">New
                Password : </ion-input>
              <ion-input type="password" style="color:black; background-color:rgb(206, 206, 206);margin-top: 10px;">
                Retype New Password : </ion-input>
              <ion-input type="text" style="color:black; background-color:rgb(206, 206, 206);margin-top: 10px;">New
                Phone : </ion-input>
              <ion-input type="text" style="color:black; background-color:rgb(206, 206, 206);margin-top: 10px;">New
                Address : </ion-input>
                
              <ion-button style="margin-top: 20px;">Update Account Settings</ion-button>

            </ion-col>
          </ion-row>

        </ion-row>

        

      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>