ion-content{
  --ion-background-color: darkgray !important;
}

ion-card{
  --ion-background-color: #f1f1f1;
  border-radius: 15px;
}

.pageContent {
  background-color: #e8e8e8;
  float: right;
}

ion-button:hover {
    --ion-color: light
}

ion-input{
  --background: #f2f2f2;
}
