<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/Logo.png">

    <title>Movies - Get Booked Online</title>
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

</head>


<body>

    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="index.html"><img src="img/MovBook-Logo.jpeg" width="170" 
            height="50" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="movies.html"><i class="fas fa-film"></i> Movies</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-language"></i>Language</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">English</a>
                    <a class="dropdown-item" href="#">සිංහල</a>
                    <a class="dropdown-item" href="#">தமிழ்</a>
                  
                </div>
            </li>
           
        </ul>
        <a class="nav-button" href="index.html"><i class="fas fa-user-circle"></i> Login</a>
    </div>
</nav>
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb"><br>
           
        </ol>
        
    </nav>
    
    <!-- /breadcrumbs -->
    <!-- movie cards -->
    <div class="container">
        <marquee>
        <div class="alert alert-primary" role="alert">
            <i class="fas fa-exclamation-circle"></i> Some limitation have due to the COVID-19 situation!
        </div>
        </marquee>
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <div class="list mb-2">
                    <div class="list-header">
                        <a href="single-movie.html" class="list-header-image">
                    	<img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/wCvTSaIQEweNdsU98usvt9re7fq.jpg">
                    </a>
                    </div>
                    <div class="list-content">
                        <h2><a href="single-movie.html" class="text-black">Avengers: Infinity War</a></h2>
                        <span class="list-meta">
                    	<span class="list-meta-item"><i class="fas fa-clock"></i> 2018</span>
                        <a href="#" class="list-meta-item"><i class="fas fa-star"></i> 8.8</a>
                        </span>
                        <p>As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="list mb-2">
                    <div class="list-header">
                        <a href="single-movie.html" class="list-header-image">
                    	<img src="img/raya about.jpeg" width="50" height="285">
                    </a>
                    </div>
                    <div class="list-content">
                        <h2><a href="single-movie.html" class="text-black">Raya and the Last Dragon</a></h2>
                        <span class="list-meta">
                    	<span class="list-meta-item"><i class="fas fa-clock"></i> 2021</span>
                        <a href="#" class="list-meta-item"><i class="fas fa-star"></i> 7.5</a>
                        </span>
                        <p>Long ago, in the fantasy world of Kumandra, humans and dragons lived together in harmony. However, when sinister monsters known as the Druun threatened the land.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="list mb-2">
                    <div class="list-header">
                        <a href="single-movie.html" class="list-header-image">
                    	<img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/uxzzxijgPIY7slzFvMotPv8wjKA.jpg">
                    </a>
                    </div>
                    <div class="list-content">
                        <h2><a href="single-movie.html" class="text-black">Black Panther</a></h2>
                        <span class="list-meta">
                    	<span class="list-meta-item"><i class="fas fa-clock"></i> 2018</span>
                        <a href="#" class="list-meta-item"><i class="fas fa-star"></i> 7.6</a>
                        </span>
                        <p>King T'Challa returns home from America to the reclusive, technologically advanced African nation of Wakanda to serve as his country's new leader. However, T'Challa soon finds that he is challenged for the throne by factions within his own country as well as without. </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="list mb-2">
                    <div class="list-header">
                        <a href="single-movie.html" class="list-header-image">
                    	<img src="img/Croods a new age.jpg" width="50" height="285">
                    </a>
                    </div>
                    <div class="list-content">
                        <h2><a href="#" class="text-black">The Croods A New Age</a></h2>
                        <span class="list-meta">
                    	<span class="list-meta-item"><i class="fas fa-clock"></i> 2020</span>
                        <a href="#" class="list-meta-item"><i class="fas fa-star"></i>7</a>
                        </span>
                        <p>Searching for a safer habitat, the prehistoric Crood family discovers an idyllic, walled-in paradise that meets all of its needs.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="list mb-2">
                    <div class="list-header">
                        <a href="single-movie.html" class="list-header-image">
                    	<img src="img/Abominable.jpg">
                    </a>
                    </div>
                    <div class="list-content">
                        <h2><a href="single-movie.html" class="text-black">Abominable</a></h2>
                        <span class="list-meta">
                    	<span class="list-meta-item"><i class="fas fa-clock"></i> 2019</span>
                        <a href="single-movie.html" class="list-meta-item"><i class="fas fa-star"></i>7</a>
                        </span>
                        <p>After discovering a yeti, three friends embark on a quest to reunite the creature with his family. However, they must keep him safe from a wealthy man and a zoologist who want to capture him.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="list mb-2">
                    <div class="list-header">
                        <a href="single-movie.html" class="list-header-image">
                    	<img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/30oXQKwibh0uANGMs0Sytw3uN22.jpg">
                    </a>
                    </div>
                    <div class="list-content">
                        <h2><a href="single-movie.html" class="text-black">Rampage</a></h2>
                        <span class="list-meta">
                    	<span class="list-meta-item"><i class="fas fa-clock"></i> 2018</span>
                        <a href="#" class="list-meta-item"><i class="fas fa-star"></i> 6.4</a>
                        </span>
                        <p>Primatologist Davis Okoye shares an unshakable bond with George, the extraordinarily intelligent, silverback gorilla who has been in his care since birth. But a rogue genetic experiment gone awry mutates this gentle ape into a raging creature of enormous size.</p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <!-- /movie cards -->
    <br>
    <!-- Newsletter -->
    <section class="newsletter text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-4">Please contact me!</h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">
                                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
                            </div>
                            <div class="col-12 col-md-3">
                                <button type="submit" class="btn btn-block btn-lg btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- /Newsletter -->
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="About.html">About us</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="About.html">Refunds</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="About.html">Terms and Privacy</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                    
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3 ">
                            <a href="https://lk.linkedin.com/" class="footer-fb">
                  <i class="fab fa-linkedin fa-2x fa-fw"></i>
                </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="https://twitter.com/" class="footer-tw">
                  <i class="fab fa-twitter fa-2x fa-fw"></i>
                </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/" class="footer-in">
                  <i class="fab fa-instagram fa-2x fa-fw"></i>
                </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->

    <!-- Bootstrap core JavaScript-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


</body>
</html>
