.sideMenu {
  background-color: darkgray !important;
}
.profilePhoto {
  color: white;
  text-align: center;
}
.pageContent {
  background-color: #e8e8e8;
  float: right;
}
ion-button:hover {
    --ion-color: light
}
.onlineStatus {
  height: 15px;
  width: 15px;
  background-color: rgb(37, 182, 8);
  border-radius: 50%;
  display: inline-block;
  margin-left: -10%;
}

ion-item{

  --background: #cacaca;
  --color: rgb(0, 0, 0);
  
}

ion-button{
  --background: #70a9ff;
}