<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="10" offset-md="1">
        <ion-header style="font-size: xx-large; padding-top: 10px;" >Buy Tickets</ion-header>
        <br>
        <br>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-select placeholder="All Locations" [(ngModel)]="location" (ionChange)="getlocation()">
                  <ion-select-option value="All">All</ion-select-option>
                  <ion-select-option *ngFor="let cinemaLocation of cinemaLocationList" value="{{cinemaLocation.cinemaLocationName}}">{{cinemaLocation.cinemaLocationName}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                 <ion-datetime displayFormat="MMM/DD/YYYY" placeholder="Today: {{date}}" (ionChange)="getTime()" [(ngModel)]="date"></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-select placeholder="All Experiences" [(ngModel)]="experience" (ionChange)="getExperience()">
                  <ion-select-option value="All">All</ion-select-option>
                  <ion-select-option *ngFor="let cinemaExperience of cinemaExperienceList" value="{{cinemaExperience.showingExperience}}">{{cinemaExperience.showingExperience}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <br>
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col style="padding-left: 30px;">
                <ion-header>
                  <ion-card-title style="font-size: larger;"> Movie Name: {{movieDetails.movieTitle}}</ion-card-title>
                  <br>
                  <img src="{{movieDetails.posterLink}}">
                </ion-header>
              </ion-col>
              <ion-col>
                <div>
                  <div *ngFor=" let location of movieLocationArray">
                  <ion-header>
                    <ion-card-title>Cinema Location: {{location.cinemaLocationName}} </ion-card-title>
                  </ion-header>
                  <div *ngIf="experienceCheckDolby">
                  <ion-card-header>
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <ion-card-subtitle style="font-weight: bold;">Cinema Experinece: Dolby Atmos</ion-card-subtitle>
                        </ion-col>
                        <ion-col size-md="1">
                          <ion-buttons tooltip="{{descriptionAtmos}}" positionV="bottom" arrow>
                            <ion-icon name="help-circle-outline" style="font-size: large;"></ion-icon>
                          </ion-buttons>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-grid>
                      <ion-row>
                        <ion-col *ngFor=" let session of movieDolbyArray">
                          <ion-button (click)="openSeatSelector(session.slotObjectId, session.timeSlotStartTime)">{{session.timeSlotStartTime}}</ion-button>
                      </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-card-content>
                </div>
                <div *ngIf="experienceCheck3D">
                  <ion-card-header>
                      <ion-grid>
                        <ion-row>
                          <ion-col>
                            <ion-card-subtitle style="font-weight: bold;">Cinema Experinece: 3D</ion-card-subtitle>
                          </ion-col>
                          <ion-col size-md="1">
                            <ion-buttons tooltip="{{description3D}}" positionV="bottom" arrow>
                              <ion-icon name="help-circle-outline" style="font-size: large;"></ion-icon>
                            </ion-buttons>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-grid>
                      <ion-row>
                        <ion-col *ngFor=" let session of movie3DArray">
                          <ion-button (click)="openSeatSelector(session.slotObjectId, session.timeSlotStartTime)">{{session.timeSlotStartTime}}</ion-button>
                      </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-card-content>
                </div>
                <div *ngIf="experienceCheck2D">
                  <ion-card-header>
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <ion-card-subtitle style="font-weight: bold;">Cinema Experinece: 2D</ion-card-subtitle>
                        </ion-col>
                        <ion-col size-md="1">
                          <ion-buttons tooltip="description2D" positionV="bottom" arrow>
                            <ion-icon name="help-circle-outline" style="font-size: large;"></ion-icon>
                          </ion-buttons>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-grid>
                      <ion-row>
                        <ion-col *ngFor=" let session of movie2DArray">
                          <ion-button (click)="openSeatSelector(movie._id, session.timeSlotStartTime)">{{session.timeSlotStartTime}}</ion-button>
                      </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-card-content>
                </div>
                </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

