<ion-header [translucent]="true">
  <ion-toolbar>
      <img src="../../../../assets/images/MovBook-Logo.jpeg" style="width: 160px;border-radius: 5px;margin-bottom: 10px; padding-left: 10px;">
      <ion-icon name="person-circle-outline" slot="end" style="padding-right: 15px; font-size: 30px" (click)="profileNav()"></ion-icon>
      <ion-icon name="chatbubble-ellipses-outline" slot="end" style="padding-right: 15px; font-size: 30px" (click)="messageNav()"></ion-icon>
      <ion-icon name="log-out-outline" slot="end" style="padding-right: 10px;font-size: 30px;"></ion-icon>
    <ion-button slot="start" color="light">
      <ion-menu-button menu = "menuCustomer"></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
