<ion-header>
  <ion-toolbar>
    <ion-title><b>ADD NEW SHOWING</b></ion-title>
    <ion-button
      (click)="closeAddNewShowingModal()" 
      slot="end" 
      shape="round" 
      fill="outline" 
      color="danger" 
      id="closeAddNewShowingModalButton">
      <ion-icon name="close-outline" style="font-size: 30px;"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- CONTENT CARD -->
  <ion-card style="height: 685px;">
    <ion-card-content>


    </ion-card-content>
  </ion-card>

</ion-content>
