<ion-header>
  <ion-toolbar>
    <ion-title><b>ADD NEW SHOWING</b></ion-title>
    <ion-button
      (click)="closeAddNewShowingModal()" 
      slot="end" 
      shape="round" 
      fill="outline" 
      color="danger" 
      id="closeAddNewShowingModalButton">
      <ion-icon name="close-outline" style="font-size: 30px;"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- CONTENT CARD -->
  <ion-card style="height: auto;">
    <ion-card-content>

      <!-- ADD NEW SHOWING FORM -->
      <div>
        <form [formGroup]="addNewShowingForm" (ngSubmit)="addNewShowingDetails(addNewShowingForm.value)">
          <ion-grid>
            <ion-row justify-content-center> <!-- CINEMA LOCATION -->
              <ion-col size="5">
                <ion-label class="add-new-showing-form-text">
                  Cinema Location Name:
                </ion-label>
              </ion-col>
              <ion-col size="7">
                <ion-item>
                  <ion-select placeholder="Select Location" okText="SELECT" cancelText="DISMISS" formControlName="cinemaLocationName" (ionChange)="retrieveCinemaHalls($event.detail.value)">
                    <ion-select-option *ngFor="let cinemaLocation of cinemaLocationList" value="{{cinemaLocation._id}}">{{cinemaLocation.cinemaLocationName}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12"><!-- Horizontal Line -->
                <div style="border-bottom: 3px solid #c0c0c0;"></div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12"><!-- CINEMA HALL -->
                
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-label class="add-new-showing-form-text">
                        Cinema Hall:
                      </ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row style="padding-top: 3%;">
                    <ion-col size="5">
                      <div style="height: 20vh;
                                  box-shadow: 5px 3px 18px #888888;
                                  border-radius: 10px;
                                  padding: 5%;
                                  overflow-y: auto;">

                        <!-- Cinema Halls' Name -->
                        <div *ngFor="let cinemaHall of cinemaHallList">
                          <ion-button color="darker-blue" style="height: 4vh;
                                                              width: 95%;
                                                              position: relative;
                                                              left: 50%;
                                                              transform: translateX(-50%);
                                                              margin-bottom: 10px;" (click)="setActiveCinemaHallObjectId(cinemaHall?._id)">
                          <ion-label>
                            <b>{{ cinemaHall?.cinemaHallName }}</b>
                          </ion-label>
                        </ion-button>
                        </div>

                        <!-- Cinema Halls Initial Text -->
                        <div style="border: 1px solid #ccc;
                                    border-radius: 5px;
                                    padding: 5%;" *ngIf="cinemaLocationSelectionInitialText">
                          <ion-label style="position: relative;
                                            left: 15%;
                                            top: 50%;
                                            transform: translate(-85%, -50%);">
                            Select a cinema location
                          </ion-label>
                        </div>

                        <!-- Loading Spinner - Retrieve cinema halls -->
                        <ion-spinner name="crescent" style="height: 50px;
                                                            width: 50px;
                                                            position: relative;
                                                            left: 50%;
                                                            top: 50%;
                                                            transform: translate(-50%, -50%);" *ngIf="loadingSpinnerCinemaHall"></ion-spinner>

                      </div>
                    </ion-col>
                    <ion-col size="7">
                      <div style="width: 100%;
                                  height: 20vh;
                                  border-radius: 8px;
                                  background-color: #608fe6;
                                  box-shadow: 5px 3px 18px #888888;
                                  padding: 5%;
                                  overflow: auto;">

                        <!-- Cinema Hall Seating Initial Text -->
                        <div style="border: 1px solid rgb(255, 255, 255);
                                    border-radius: 5px;
                                    padding: 5%;" *ngIf="cinemaHallSelectionInitialText">
                          <ion-label style="position: relative;
                                            left: 30%;
                                            top: 50%;
                                            transform: translate(-70%, -50%);
                                            color: #ffffff;">
                            Select a cinema hall
                          </ion-label>
                        </div>

                        <!-- Loading Spinner - Load cinema hall seat layout -->
                        <ion-spinner name="crescent" style="height: 50px;
                                                            width: 50px;
                                                            position: relative;
                                                            left: 50%;
                                                            top: 50%;
                                                            transform: translate(-50%, -50%);
                                                            color: #ffffff;" *ngIf="loadingSpinnerCinemaHallSeatLayout"></ion-spinner>

                        <div style="width: 60%;
                                    float: left;" *ngIf="!cinemaHallSelectionInitialText">
                          <!-- Hall Seating Layout Contents Section -->
                          <div style="height: auto;
                                      position: relative;
                                      left: 50%;
                                      transform: translateX(-50%);">

                            <!-- Hall Seating Layout Screen Image -->
                            <div>
                              <ion-img src="assets/images/account/manager/locations-halls-sub-page/hall-screen-image.png" style="width: 65%;
                                                                                                                                position: relative;
                                                                                                                                left: 50%;
                                                                                                                                transform: translateX(-50%);
                                                                                                                                margin-bottom: 10px;"></ion-img>
                            </div>

                            <!-- Hall Seating Layout Screen Grid Table -->
                            <div style="min-width: 95%;">
                              
                              <!-- Seating Grid Table -->
                              <table style="border: none;
                                            background-color: rgb(96, 143, 230);
                                            position: relative;
                                            left: 51%;
                                            transform: translateX(-49%);">
                                  <!-- Table Rows -->
                                  <tr *ngFor="let in of covertNumberToArray(activeSeatLayout.seatingGridNoOfRows); let row = index">
                                    <!-- Table Columns -->
                                    <td class="seatingGridTableTableData" *ngFor="let in of covertNumberToArray(activeSeatLayout.seatingGridNoOfColumns); let column = index">
                                      <!-- Table Cells -->
                                      <div>

                                        <!-- Iterating through each seat (cell) -->
                                        <ng-container *ngFor="let seatDetails of activeSeatLayout.seatingDetails">
                                          <!--If condition (condition) - checking whether iterating seatId is equal to generated seatId -->
                                          <ng-template 
                                            *ngIf="seatDetails?.seatId == activeSeatLayout.cinemaLocationObjectId + '|0|' + preIncrementValue(row) + '|' + preIncrementValue(column);
                                                  then showSeatDetails;">
                                          </ng-template>

                                          <!-- If condition (then) - 
                                            display seatAllocatedPositionNo, 
                                            change seat (cell) styles according to the properties of the seat,
                                            display seatNumber
                                          -->
                                          <ng-template #showSeatDetails>
                                            <div [ngClass]="{
                                                'seatingGridTableInnerDivSeatActive': seatDetails.seatActive,
                                                'seatingGridTableInnerDivUnavailableSeat': seatDetails.seatUnavailable,
                                                'seatingGridTableInnerDiv': !seatDetails.seatActive,
                                                'seatingGridTableInnerDiv': !seatDetails.seatUnavailable
                                              }">
                                            </div>
                                          </ng-template>

                                        </ng-container>
                                      </div>
                                    </td>
                                  </tr>
                              </table>

                            </div>
                            
                          </div>
                        </div>
                        <div style="width: 40%;
                                    float: right;" *ngIf="!cinemaHallSelectionInitialText">
                          <table style="min-width: 90%;">
                            <tr>
                              <td>
                                <ion-label style="font-size: 12px;
                                                  color: #ffffff;
                                                  position: relative;
                                                  left: 50%;
                                                  transform: translateX(-50%);">
                                  <b>SEATING LEGEND</b>
                                </ion-label>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div style="width: 10px;
                                            height: 10px;
                                            border-radius: 10px;
                                            background-color: #0AAA64;
                                            position: relative;
                                            left: 50%;
                                            transform: translateX(-50%);">
                                </div>
                              </td>
                              <td>
                                <ion-label style="font-size: 12px;
                                                  color: #ffffff;">
                                  Active Seat
                                </ion-label>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div style="width: 10px;
                                            height: 10px;
                                            border-radius: 10px;
                                            background-color: #D33131;
                                            position: relative;
                                            left: 50%;
                                            transform: translateX(-50%);">
                                </div>
                              </td>
                              <td>
                                <ion-label style="font-size: 12px;
                                                  color: #ffffff;">
                                  Unavailable Seat
                                </ion-label>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div style="width: 10px;
                                            height: 10px;
                                            border-radius: 10px;
                                            background-color: #d6d6d6;
                                            position: relative;
                                            left: 50%;
                                            transform: translateX(-50%);">
                                </div>
                              </td>
                              <td>
                                <ion-label style="font-size: 12px;
                                                  color: #ffffff;">
                                  Unallocated Seat
                                </ion-label>
                              </td>
                            </tr>
                          </table>
                        </div>

                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">

                      <div style="width: 100%;
                                  height: 6vh;
                                  border-radius: 10px;
                                  box-shadow: 5px 3px 18px #888888;">
                      
                        <!-- Cinema Hall Seat Statistics Initial Text -->
                        <div style="border: 1px solid #ccc;
                                    border-radius: 5px;
                                    width: 50%;
                                    min-height: 10%;
                                    padding-top: 2%;
                                    padding-bottom: 2%;
                                    position: relative;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);" *ngIf="cinemaHallSelectionInitialText">
                          <ion-label style="position: relative;
                                            left: 30%;
                                            top: 50%;
                                            transform: translate(-70%, -50%);">
                            Select a cinema hall
                          </ion-label>
                        </div>

                        <!-- Hall Seating Statistics -->
                        <div *ngIf="!cinemaHallSelectionInitialText">
                          <ion-grid>
                            <ion-row>
                              <ion-col size="3">
                                <ion-label style="font-size: 18px;">
                                  <h2>No of Allocated Seats -</h2>
                                </ion-label>
                              </ion-col>
                              <ion-col size="1" style="padding-left: 5px;">
                                <div style="width: 40px;
                                            height: 30px;
                                            border-radius: 5px;
                                            background-color: #d6d6d6;">
                                  <ion-label style="font-size: 18px;
                                                    margin-left: 5px;
                                                    margin-top: 5px;
                                                    color: #000000;">
                                    <b>
                                      {{ noOfAllocatedSeats }}
                                    </b>
                                  </ion-label>
                                </div>
                              </ion-col>
                              <ion-col size="3">
                                <ion-label style="font-size: 18px;
                                                  position: absolute;
                                                  left: 60px;">
                                  <h2>No of Active Seats -</h2>
                                </ion-label>
                              </ion-col>
                              <ion-col size="1" style="padding-left: 5px;">
                                <div style="width: 40px;
                                            height: 30px;
                                            border-radius: 5px;
                                            background-color: #0AAA64;">
                                  <ion-label style="font-size: 18px;
                                                    margin-left: 5px;
                                                    margin-top: 5px;
                                                    color: #000000;">
                                    <b>
                                      {{ noOfActiveSeats }}
                                    </b>
                                  </ion-label>
                                </div>
                              </ion-col>
                              <ion-col size="3">
                                <ion-label style="font-size: 18px;
                                                  position: absolute;
                                                  left: 8px;">
                                  <h2>No of Unavailable Seats -</h2>
                                </ion-label>
                              </ion-col>
                              <ion-col size="1" style="padding-left: 5px;">
                                <div style="width: 40px;
                                            height: 30px;
                                            border-radius: 5px;
                                            background-color: #D33131;">
                                  <ion-label style="font-size: 18px;
                                                    margin-left: 5px;
                                                    margin-top: 5px;
                                                    color: #000000;">
                                    <b>
                                      {{ noOfUnavailableSeats }}
                                    </b>
                                  </ion-label>
                                </div>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </div>

                      </div>

                    </ion-col>
                  </ion-row>
                </ion-grid>
                
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12"><!-- Horizontal Line -->
                <div style="border-bottom: 3px solid #c0c0c0;"></div>
              </ion-col>
            </ion-row>
            <ion-row style="padding-top: 3%;">
              <ion-col size="12"><!-- SHOW DETAILS -->
                <ion-label class="add-new-showing-form-text">
                  Show Period:
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row style="padding: 0 7% 0 7%;">
              <ion-col size="6">
                <ion-label class="add-new-showing-form-text add-new-showing-form-sub-text">
                  Start Date:
                </ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-item>
                  <ion-input type="text" placeholder="Select Location" clearInput></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row style="padding: 0 7% 0 7%;">
              <ion-col size="6">
                <ion-label class="add-new-showing-form-text add-new-showing-form-sub-text">
                  End Date:
                </ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-item>
                  <ion-input type="text" placeholder="Select Location" clearInput></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row style="padding-top: 2%;">
              <ion-col size="12">

                <div style="width: 100%;
                            height: auto;
                            border-radius: 10px;
                            box-shadow: 5px 3px 18px #888888;">

                  <ion-grid style="padding: 4% 7% 4% 7%;">
                    <ion-row>
                      <ion-col size="12">
                        <ion-label class="add-new-showing-form-text">
                          Time Slots:
                        </ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">
                        <ion-label class="add-new-showing-form-text add-new-showing-form-sub-text">
                          Start Time:
                        </ion-label>
                      </ion-col>
                      <ion-col size="6">
                        <ion-item>
                          <ion-input type="text" placeholder="Select Location" clearInput></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">
                        <ion-label class="add-new-showing-form-text add-new-showing-form-sub-text">
                          End Time:
                        </ion-label>
                      </ion-col>
                      <ion-col size="6">
                        <ion-item>
                          <ion-input type="text" placeholder="Select Location" clearInput></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12"><!-- Horizontal Line -->
                        <div style="border-bottom: 2px solid #ccc;"></div>
                      </ion-col>
                    </ion-row>
                    <ion-row style="padding-top: 3%;">
                      <ion-col size="12">
                        <ion-label class="add-new-showing-form-text">
                          Ticket Costs:
                        </ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">
                        <ion-label class="add-new-showing-form-text add-new-showing-form-sub-text">
                          Child Ticket:
                        </ion-label>
                      </ion-col>
                      <ion-col size="6">
                        <ion-item>
                          <ion-input type="text" placeholder="Select Location" clearInput></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">
                        <ion-label class="add-new-showing-form-text add-new-showing-form-sub-text">
                          Adult Ticket:
                        </ion-label>
                      </ion-col>
                      <ion-col size="6">
                        <ion-item>
                          <ion-input type="text" placeholder="Select Location" clearInput></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-button color="tertiary" expand="block" style="min-width: 250px;
                                                                        min-height: 40px;
                                                                        position: relative;
                                                                        left: 50%;
                                                                        transform: translateX(-50%);">
                        ASSIGN SLOT DETAILS
                      </ion-button>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12">

                        <div style="width: 100%;
                                    height: 20vh;
                                    border: 1px solid #ccc;
                                    border-radius: 10px;
                                    padding: 10px;">

                          <div style="width: 12vw;
                                      height: 75%;
                                      background-color: rgb(62, 131, 127);
                                      margin-right: 10px;
                                      border-radius: 10px;
                                      padding: 10px;">
                            
                            <ion-grid>
                              <ion-row>
                                <ion-col size="2">
                                  <ion-icon name="time-outline" class="session-details-summary-text"></ion-icon>
                                </ion-col>
                                <ion-col size="4">
                                  <ion-label class="session-details-summary-text">
                                    09:00am
                                  </ion-label>
                                </ion-col>
                                <ion-col size="1">
                                  <ion-label class="session-details-summary-text">
                                    -
                                  </ion-label>
                                </ion-col>
                                <ion-col size="4">
                                  <ion-label class="session-details-summary-text">
                                    12:00pm
                                  </ion-label>
                                </ion-col>
                              </ion-row>
                              <ion-row style="padding-top: 5%;">
                                <ion-col size="12">
                                  <ion-icon name="ticket-outline" style="color: #ffffff;
                                                                        font-size: 15px;"></ion-icon>
                                  <ion-label style="color: #ffffff;
                                                    font-size: 15px;">
                                    Ticket Cost
                                  </ion-label>
                                </ion-col>
                              </ion-row>
                              <ion-row style="padding-top: 4;">
                                <ion-col size="6">
                                  <ion-label class="session-details-summary-text" style="padding-left: 5%;">
                                    Adult:
                                  </ion-label>
                                </ion-col>
                                <ion-col size="6">
                                  <ion-label class="session-details-summary-text" style="padding-left: 5%;">
                                    $100
                                  </ion-label>
                                </ion-col>
                              </ion-row>
                              <ion-row style="padding-top: 7%;">
                                <ion-col size="6">
                                  <ion-label class="session-details-summary-text" style="padding-left: 5%;">
                                    Child:
                                  </ion-label>
                                </ion-col>
                                <ion-col size="6">
                                  <ion-label class="session-details-summary-text" style="padding-left: 5%;">
                                    $100
                                  </ion-label>
                                </ion-col>
                              </ion-row>
                            </ion-grid>

                          </div>

                          <ion-button color="plain-white" style="width: 12vw;
                                                                height: 20%;
                                                                margin-top: 2%;
                                                                margin-right: 10px;
                                                                border-radius: 10px;">
                            <ion-icon name="close-circle-outline" style="color: #e20000;"></ion-icon>
                            <ion-label style="font-size: 10px;
                                              padding: 5px;
                                              color: #e20000;">
                              DISCARD SESSION
                            </ion-label>
                          </ion-button>

                        </div>

                      </ion-col>
                    </ion-row>
                    
                  </ion-grid>

                </div>

              </ion-col>
            </ion-row>
            <ion-row style="padding-top: 3%;">
              <ion-col size="12"><!-- Horizontal Line -->
                <div style="border-bottom: 3px solid #c0c0c0;"></div>
              </ion-col>
            </ion-row>
            <ion-row justify-content-center> <!-- CINEMA LOCATION -->
              <ion-col size="5">
                <ion-label class="add-new-showing-form-text">
                  Showing Experience:
                </ion-label>
              </ion-col>
              <ion-col size="7">
                <ion-item>
                  
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row style="margin-top: 5%;">
              <ion-button color="tertiary" expand="block" type="submit" [disabled]="!addNewShowingForm.valid" style="min-width: 250px;
                                                                                                                      min-height: 40px;
                                                                                                                      position: relative;
                                                                                                                      left: 50%;
                                                                                                                      transform: translateX(-50%);">
                ADD NEW SHOWING
              </ion-button>
            </ion-row>
          </ion-grid>
        </form>
      </div>

    </ion-card-content>
  </ion-card>

</ion-content>
