<ion-content>
  <ion-card style="min-height: 97%;
                  position: relative;
                  margin-top: 0.9%;">
    <ion-card-content>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
      <ion-grid>
        <ion-row>
          <ion-col size="4">
          </ion-col>
          <ion-col size="4">
            <!-- COMING SOON TEXT -->
            <div style="background-color: #ffffff;
                        width: 55%;
                        height: 100px;
                        border-radius: 10px;
                        position: absolute;
                        left: 50%;
                        top: 80%;
                        transform: translate(-50%,-20%);
                        margin-top: 20px;
                        box-shadow: 5px 3px 18px #888888;">
              <ion-label style="position: absolute;
                              left: 47%;
                              top: 50%;
                              transform: translate(-53%,-50%);
                              font-size: 20px;
                              font-weight: 600;
                              font-family: Arial, Helvetica, sans-serif;
                              color: #000000;">
                COMING SOON
              </ion-label>
            </div>
          </ion-col>
          <ion-col size="4">
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
</ion-content>
