<ion-content>
  <ion-grid style="background-color: #374d58">
    <ion-row>
      <ion-col size="auto">
        <img src="assets\images\MovBook-Logo.jpeg" style="width: 200px;border-radius: 5px;margin-bottom: 10px;">
        <div class="profilePhoto">
          <img src="assets\images\operator.jpg" style="border-radius: 50px; width: 150px; height: 150px" />
          <span class="onlineStatus"></span>
          <!-- Replace with {{Name}} and {{email}} plus add a online button-->
          <h4>John Steve</h4>
          <h6>john@movbook.com</h6>
          <br />
        </div>
        <ion-button expand="block" color="light" href="operator/dashboard">Dashboard</ion-button>
        <ion-button expand="block" color="button" href="operator/movie-booking">Movie Catalogue</ion-button>
        <ion-button expand="block" color="button">Bookings</ion-button>

        <ion-button expand="block" color="button" style="margin-top: 80%">Profile</ion-button>
        <ion-button expand="block" color="button">Settings</ion-button>
      </ion-col>
      <ion-col style="width:100%;border-radius: 25px; background-color: #e8e8e8;margin: 10px;">
        <ion-row>
          <h1 style="color: #374d58;"><b>Upcoming Movies</b></h1>
        </ion-row>
        <ion-row style="height: 280px;overflow-y: scroll;">
          <ion-card *ngFor="let movie of Movies"  style="width: 250px;height: 500px;">
            <ion-img src='{{movie.imgUrl}}'></ion-img>
            <ion-card-title>{{movie.title}}</ion-card-title>
            <ion-card-subtitle>{{movie.showTime}}</ion-card-subtitle>
            <ion-card-content>
              <p>Rating: {{movie.rating}}⭐</p>
              <p>{{movie.description}}</p>
            </ion-card-content>
          </ion-card>
        </ion-row>
        <ion-row>
          <h1 style="color: #374d58;"><b>Showing Now</b></h1>
        </ion-row>
        <ion-row style="height: 280px;overflow-y: scroll;">
          <ion-card *ngFor="let movie of Movies"  style="width: 250px;height: 500px;">
            <ion-img src='{{movie.imgUrl}}'></ion-img>
            <ion-card-title>{{movie.title}}</ion-card-title>
            <ion-card-subtitle>{{movie.showTime}}</ion-card-subtitle>
            <ion-card-content>
              <p>Rating: {{movie.rating}}⭐</p>
              <p>{{movie.description}}</p>
            </ion-card-content>
          </ion-card>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>