/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Applying style to make 'ion-button' case insensitive */
ion-button {
    text-transform: none;
}

ion-menu{
    --background: darkgray !important;
    --radius:25px
}
ion-content{            
    --background: darkgray !important;
}
//#e8e8e8;
ion-button{
    --background: #2e8ded;
}



/* Declaring new color variable - green | #009595 */
:root {
    --ion-color-green: #009595;
    --ion-color-green-rgb: 0,149,149;
    --ion-color-green-contrast: #ffffff;
    --ion-color-green-contrast-rgb: 255,255,255;
    --ion-color-green-shade: #008383;
    --ion-color-green-tint: #1aa0a0;
}

/* Declaring new color variable - green | #009595 */
.ion-color-green {
    --ion-color-base: var(--ion-color-green);
    --ion-color-base-rgb: var(--ion-color-green-rgb);
    --ion-color-contrast: var(--ion-color-green-contrast);
    --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb);
    --ion-color-shade: var(--ion-color-green-shade);
    --ion-color-tint: var(--ion-color-green-tint);
}



/* Declaring new color variable - dark-blue | #335470 */
:root {
    --ion-color-dark-blue: #335470;
    --ion-color-dark-blue-rgb: 51,84,112;
    --ion-color-dark-blue-contrast: #ffffff;
    --ion-color-dark-blue-contrast-rgb: 255,255,255;
    --ion-color-dark-blue-shade: #2d4a63;
    --ion-color-dark-blue-tint: #47657e;
}

/* Declaring new color variable - dark-blue | #335470 */
.ion-color-dark-blue {
    --ion-color-base: var(--ion-color-dark-blue);
    --ion-color-base-rgb: var(--ion-color-dark-blue-rgb);
    --ion-color-contrast: var(--ion-color-dark-blue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-dark-blue-contrast-rgb);
    --ion-color-shade: var(--ion-color-dark-blue-shade);
    --ion-color-tint: var(--ion-color-dark-blue-tint);
}



/* Declaring new color variable - dark-blue-one | #1e69a8 */
:root {
    --ion-color-dark-blue-one: #1e69a8;
    --ion-color-dark-blue-one-rgb: 30,105,168;
    --ion-color-dark-blue-one-contrast: #ffffff;
    --ion-color-dark-blue-one-contrast-rgb: 255,255,255;
    --ion-color-dark-blue-one-shade: #1a5c94;
    --ion-color-dark-blue-one-tint: #3578b1;
}

/* Declaring new color variable - dark-blue-one | #1e69a8 */
.ion-color-dark-blue-one {
    --ion-color-base: var(--ion-color-dark-blue-one);
    --ion-color-base-rgb: var(--ion-color-dark-blue-one-rgb);
    --ion-color-contrast: var(--ion-color-dark-blue-one-contrast);
    --ion-color-contrast-rgb: var(--ion-color-dark-blue-one-contrast-rgb);
    --ion-color-shade: var(--ion-color-dark-blue-one-shade);
    --ion-color-tint: var(--ion-color-dark-blue-one-tint);
}



/* Declaring new color variable - dark-blue-two | #0b7edb */
:root {
    --ion-color-dark-blue-two: #0b7edb;
    --ion-color-dark-blue-two-rgb: 11,126,219;
    --ion-color-dark-blue-two-contrast: #ffffff;
    --ion-color-dark-blue-two-contrast-rgb: 255,255,255;
    --ion-color-dark-blue-two-shade: #0a6fc1;
    --ion-color-dark-blue-two-tint: #238bdf;
}
  
/* Declaring new color variable - dark-blue-two | #0b7edb */
.ion-color-dark-blue-two {
    --ion-color-base: var(--ion-color-dark-blue-two);
    --ion-color-base-rgb: var(--ion-color-dark-blue-two-rgb);
    --ion-color-contrast: var(--ion-color-dark-blue-two-contrast);
    --ion-color-contrast-rgb: var(--ion-color-dark-blue-two-contrast-rgb);
    --ion-color-shade: var(--ion-color-dark-blue-two-shade);
    --ion-color-tint: var(--ion-color-dark-blue-two-tint);
}


/* Declaring new color variable - dark-blue-three | #058cfa */
:root {
    --ion-color-dark-blue-three: #058cfa;
    --ion-color-dark-blue-three-rgb: 5,140,250;
    --ion-color-dark-blue-three-contrast: #ffffff;
    --ion-color-dark-blue-three-contrast-rgb: 255,255,255;
    --ion-color-dark-blue-three-shade: #047bdc;
    --ion-color-dark-blue-three-tint: #1e98fb;
}

/* Declaring new color variable - dark-blue-three | #058cfa */
.ion-color-dark-blue-three {
    --ion-color-base: var(--ion-color-dark-blue-three);
    --ion-color-base-rgb: var(--ion-color-dark-blue-three-rgb);
    --ion-color-contrast: var(--ion-color-dark-blue-three-contrast);
    --ion-color-contrast-rgb: var(--ion-color-dark-blue-three-contrast-rgb);
    --ion-color-shade: var(--ion-color-dark-blue-three-shade);
    --ion-color-tint: var(--ion-color-dark-blue-three-tint);
}


/* Declaring new color variable - light-blue | #2775b8 */
:root {
    --ion-color-light-blue: #2775b8;
    --ion-color-light-blue-rgb: 39,117,184;
    --ion-color-light-blue-contrast: #ffffff;
    --ion-color-light-blue-contrast-rgb: 255,255,255;
    --ion-color-light-blue-shade: #2267a2;
    --ion-color-light-blue-tint: #3d83bf;
  }
  
/* Declaring new color variable - light-blue | #2775b8 */
.ion-color-light-blue {
    --ion-color-base: var(--ion-color-light-blue);
    --ion-color-base-rgb: var(--ion-color-light-blue-rgb);
    --ion-color-contrast: var(--ion-color-light-blue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-light-blue-contrast-rgb);
    --ion-color-shade: var(--ion-color-light-blue-shade);
    --ion-color-tint: var(--ion-color-light-blue-tint);
}



/* Declaring new color variable - white | #ffffff */
:root {
    --ion-color-plain-white: #ffffff;
    --ion-color-plain-white-rgb: 255,255,255;
    --ion-color-plain-white-contrast: #000000;
    --ion-color-plain-white-contrast-rgb: 0,0,0;
    --ion-color-plain-white-shade: #e0e0e0;
    --ion-color-plain-white-tint: #ffffff;
}
  
/* Declaring new color variable - white | #ffffff */
.ion-color-plain-white {
    --ion-color-base: var(--ion-color-plain-white);
    --ion-color-base-rgb: var(--ion-color-plain-white-rgb);
    --ion-color-contrast: var(--ion-color-plain-white-contrast);
    --ion-color-contrast-rgb: var(--ion-color-plain-white-contrast-rgb);
    --ion-color-shade: var(--ion-color-plain-white-shade);
    --ion-color-tint: var(--ion-color-plain-white-tint);
}



/* Declaring new color variable - darker-blue | #053781 */
:root {
    --ion-color-darker-blue: #053781;
    --ion-color-darker-blue-rgb: 5,55,129;
    --ion-color-darker-blue-contrast: #ffffff;
    --ion-color-darker-blue-contrast-rgb: 255,255,255;
    --ion-color-darker-blue-shade: #043072;
    --ion-color-darker-blue-tint: #1e4b8e;
}

/* Declaring new color variable - darker-blue | #053781 */
.ion-color-darker-blue {
    --ion-color-base: var(--ion-color-darker-blue);
    --ion-color-base-rgb: var(--ion-color-darker-blue-rgb);
    --ion-color-contrast: var(--ion-color-darker-blue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-darker-blue-contrast-rgb);
    --ion-color-shade: var(--ion-color-darker-blue-shade);
    --ion-color-tint: var(--ion-color-darker-blue-tint);
}



/* CSS styles for cinema halls modal */
.cinema-halls-modal .modal-wrapper {
    height: 80%;
    width: 60%;
    top: 8%;
    position: absolute; 
    display: block;  
}

/* CSS styles for add cinema locations modal */
.add-location-modal .modal-wrapper {
    height: 50%;
    width: 40%;
    top: 10%;
    position: absolute;
    display: block;
}

/* CSS styles for cinema halls modal */
.add-new-showing-modal .modal-wrapper {
    height: 80%;
    width: 45%;
    top: 8%;
    position: absolute; 
    display: block;  
}

/* CSS styles for add new showing experience modal */
.add-new-showing-experience-modal .modal-wrapper {
    height: 40%;
    width: 40%;
    top: 25%;
    position: absolute;
    display: block;
}

/* CSS styles for update account details modal */
.update-account-details-modal .modal-wrapper {
    height: 80%;
    width: 55%;
    top: 10%;
    position: absolute;
    display: block;
}

// Code block added to render whole text in the ion select option
.alert-tappable.alert-radio {
    height: auto;
    contain: content;
}

.alert-radio-label.sc-ion-alert-md,
.alert-radio-label.sc-ion-alert-ios {
    white-space: normal;
}

