<ion-content>
  <ion-card style="min-height: 97%;
                  position: relative;
                  margin-top: 0.9%;">
    <ion-card-content>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
      <!-- CINEMA LOCATIONS TITLE -->
      <ion-title style="margin-top: 1%;
                        letter-spacing: 1px;"><b>CINEMA LOCATIONS</b></ion-title>

      <!-- ADD CINEMA LOCATION BUTTON -->
      <div style="position: absolute;
                  right: 2%;
                  top: 1%;">
        <ion-button style="--border-radius: 40px;" color="tertiary" (click)="openAddLocationModal()">
          <ion-label>
            <ion-img src="assets/images/account/manager/locations-halls-sub-page/add-cinema-location-icon.png" style="width: 25px;
                                                                                                                margin-right: 5px;"></ion-img>
          </ion-label>
          <ion-label>
            ADD LOCATION
          </ion-label>
        </ion-button>
      </div>

      <!-- SEARCH BY CINEMA LOCATION NAME FORM -->
      <div>
        <form [formGroup]="searchCinemaLocationForm" (ngSubmit)="searchCinemaLocation(searchCinemaLocationForm.value.cinemaLocationName)">
          <ion-grid>
            <ion-row>
              <ion-col size="10">
                <ion-item>
                  <ion-label>
                    Select Location:
                  </ion-label>
                  <ion-select okText="SELECT" cancelText="DISMISS" formControlName="cinemaLocationName">
                    <ion-select-option 
                      *ngFor="let cinemaLocation of cinemaLocationList" 
                      value="{{ cinemaLocation._id }}"
                    >
                      {{ cinemaLocation.cinemaLocationName }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <div>
                  <ion-button expand="block" type="submit" [disabled]="!searchCinemaLocationForm.valid" style="--border-radius: 10px;">
                    <ion-label>
                      <ion-img src="assets/images/account/manager/locations-halls-sub-page/search-icon.png" style="width: 25px;
                                                                                                                  margin-left: 0px;"></ion-img>
                    </ion-label>
                    <ion-label style="margin-left: 10px;">
                      SEARCH
                    </ion-label>
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </div>

      <!-- RESET BUTTON -->
      <div style="position: absolute;
                  top: 10px;
                  right: 15%;">
        <ion-button color="green" fill="outline" size="small" style="--border-radius: 20px;
                                                                    min-height: 45px;
                                                                    min-width: 120px;" (click)="resetSearchCinemaLocationForm()">
        RESET
        </ion-button>
      </div>

      <!-- CINEMA LOCATION SEARCH RESULTS CONTAINER -->
      <div>
        <ion-card style="height: 765px;
                        background-color: rgb(231, 231, 231);
                        border-radius: 10px;
                        overflow-y: auto;">
          <ion-card-content>

            <!-- Loading Spinner -->
            <ion-spinner name="dots" style="height: 100px;
                                            width: 100px;
                                            position: absolute;
                                            left: 50%;
                                            top: 50%;
                                            transform: translate(-50%,-50%);
                                            margin-top: 20px;" *ngIf="loadingSpinnerCinemaLocations"></ion-spinner>

            <!-- SEARCH RESULT CARDS CONTAINER -->
            <div style="padding-top: 10px;">
              <ion-grid>
                <ion-row>
                  
                  <ng-container *ngIf="handleListOfCinemaLocations">
                    <ion-col size="6" *ngFor="let cinemaLocation of cinemaLocationList">
                      <div style="height: auto;
                                  border-radius: 10px;
                                  border: 2px solid #ccc;
                                  background-color: #ffffff;">
                        <ion-grid>
                          <ion-col>
                            <ion-row>
                              <ion-col>
                                <div style="width: 90%;
                                          height: 240px;
                                          margin-left: 15px;
                                          background-color: #003a6c;
                                          border-radius: 5px;">
                                  <ion-img src="assets/images/account/manager/locations-halls-sub-page/cinema-hall-image.jpg" style="width: 100%; 
                                                                                                                                    height: 100%;"></ion-img>
                                </div>
                              </ion-col>
                              <ion-col>
                                <ion-row>
                                  <ion-label>
                                    <h1>{{ cinemaLocation.cinemaLocationName }}</h1>
                                  </ion-label>
                                </ion-row>
                                <ion-row>
                                  <ion-label>
                                    <h2>
                                      {{ cinemaLocation.cinemaLocationAddress.streetAddress }}, 
                                      {{ cinemaLocation.cinemaLocationAddress.city }}, 
                                      {{ cinemaLocation.cinemaLocationAddress.postalCode }}
                                    </h2>
                                  </ion-label>
                                </ion-row>
                                <ion-row>
                                  <ion-label>
                                    <h2>No of Halls: 
  
                                      <ng-container *ngFor="let noOfCinemaHalls of listOfAmountOfCinemaHalls">
                                        <ng-template 
                                          *ngIf="noOfCinemaHalls?.cinemaLocationObjectId == cinemaLocation._id;
                                                then showNoOfCinemaHalls;">
                                        </ng-template>
  
                                        <ng-template #showNoOfCinemaHalls>
                                          <b>{{ noOfCinemaHalls.noOfCinemaHalls }}</b>
                                        </ng-template>
                                      </ng-container>
  
                                    </h2>
                                  </ion-label>
                                </ion-row>
                                <ion-row style="margin-top: 5%;">
                                  <ion-button expand="block" 
                                        (click)="openCinemaHallsModal(cinemaLocation._id)"
                                        style="min-width: 100%;
                                              --border-radius: 10px;"
                                        color="green">
                                    <ion-label>
                                      <ion-img src="assets/images/account/manager/locations-halls-sub-page/cinema-hall-icon.png" style="width: 25px;
                                                                                                                                          margin-left: 0px;"></ion-img>
                                    </ion-label>
                                    <ion-label style="margin-left: 10px;">
                                      VIEW CINEMA HALLS
                                    </ion-label>
                                  </ion-button>
                                </ion-row>
                                <ion-row>
                                  <ion-col size="6">
                                    <ion-button expand="block" 
                                      (click)="openEditLocationModal(cinemaLocation)"
                                      style="min-width: 100%;
                                            --border-radius: 10px;"
                                      color="medium">
                                      <ion-label>
                                        EDIT LOCATION
                                      </ion-label>
                                    </ion-button>
                                  </ion-col>
                                  <ion-col size="6">
                                    <ion-button expand="block" 
                                      (click)="alertNotice('Coming Soon', 'Functionality Coming Soon')"
                                      style="min-width: 100%;
                                            --border-radius: 10px;"
                                      color="warning">
                                      <ion-label>
                                        REMOVE LOCATION
                                      </ion-label>
                                    </ion-button>
                                  </ion-col>
                                </ion-row>
                              </ion-col>
                            </ion-row>
                          </ion-col>
                        </ion-grid>
                      </div>
                    </ion-col>
                  </ng-container>

                  <ng-container *ngIf="handleUserSelectedCinemaLocation">
                    <ion-col size="6">
                      <div style="height: auto;
                                  border-radius: 10px;
                                  border: 2px solid #ccc;
                                  background-color: #ffffff;">
                        <ion-grid>
                          <ion-col>
                            <ion-row>
                              <ion-col>
                                <div style="width: 90%;
                                          height: 240px;
                                          margin-left: 15px;
                                          background-color: #003a6c;
                                          border-radius: 5px;">
                                  <ion-img src="assets/images/account/manager/locations-halls-sub-page/cinema-hall-image.jpg" style="width: 100%; 
                                                                                                                                    height: 100%;"></ion-img>
                                </div>
                              </ion-col>
                              <ion-col>
                                <ion-row>
                                  <ion-label>
                                    <h1>{{ searchResultCinemaLocation.cinemaLocationName }}</h1>
                                  </ion-label>
                                </ion-row>
                                <ion-row>
                                  <ion-label>
                                    <h2>
                                      {{ searchResultCinemaLocation.cinemaLocationAddress.streetAddress }}, 
                                      {{ searchResultCinemaLocation.cinemaLocationAddress.city }}, 
                                      {{ searchResultCinemaLocation.cinemaLocationAddress.postalCode }}
                                    </h2>
                                  </ion-label>
                                </ion-row>
                                <ion-row>
                                  <ion-label>
                                    <h2>No of Halls: 
  
                                      <ng-container *ngFor="let noOfCinemaHalls of listOfAmountOfCinemaHalls">
                                        <ng-template 
                                          *ngIf="noOfCinemaHalls?.cinemaLocationObjectId == searchResultCinemaLocation._id;
                                                then showNoOfCinemaHalls;">
                                        </ng-template>
  
                                        <ng-template #showNoOfCinemaHalls>
                                          <b>{{ noOfCinemaHalls.noOfCinemaHalls }}</b>
                                        </ng-template>
                                      </ng-container>
  
                                    </h2>
                                  </ion-label>
                                </ion-row>
                                <ion-row style="margin-top: 5%;">
                                  <ion-button expand="block" 
                                        (click)="openCinemaHallsModal(searchResultCinemaLocation._id)"
                                        style="min-width: 100%;
                                              --border-radius: 10px;"
                                        color="green">
                                    <ion-label>
                                      <ion-img src="assets/images/account/manager/locations-halls-sub-page/cinema-hall-icon.png" style="width: 25px;
                                                                                                                                          margin-left: 0px;"></ion-img>
                                    </ion-label>
                                    <ion-label style="margin-left: 10px;">
                                      VIEW CINEMA HALLS
                                    </ion-label>
                                  </ion-button>
                                </ion-row>
                                <ion-row>
                                  <ion-col size="6">
                                    <ion-button expand="block" 
                                      (click)="openEditLocationModal(searchResultCinemaLocation)"
                                      style="min-width: 100%;
                                            --border-radius: 10px;"
                                      color="medium">
                                      <ion-label>
                                        EDIT LOCATION
                                      </ion-label>
                                    </ion-button>
                                  </ion-col>
                                  <ion-col size="6">
                                    <ion-button expand="block" 
                                      (click)="alertNotice('Coming Soon', 'Functionality Coming Soon')"
                                      style="min-width: 100%;
                                            --border-radius: 10px;"
                                      color="warning">
                                      <ion-label>
                                        REMOVE LOCATION
                                      </ion-label>
                                    </ion-button>
                                  </ion-col>
                                </ion-row>
                              </ion-col>
                            </ion-row>
                          </ion-col>
                        </ion-grid>
                      </div>
                    </ion-col>
                  </ng-container>

                </ion-row>
              </ion-grid>
            </div>
          
          </ion-card-content>
        </ion-card>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
