ion-content{
  --ion-background-color: #374d58;
}

ion-card{
  --ion-background-color: #f1f1f1;
  border-radius: 15px;
}

ion-item{
  border: #ccc solid 1px;
  border-radius: 5px;
  --ion-background-color: rgb(255, 255, 255);
}

.search-location-form-text{
  font-size: 20px;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

ion-button{
  margin-top: 0;
  min-height: 50px;
}