.sideMenu {
    background-color: darkgray !important;
  }
  .profilePhoto {
    color: white;
    text-align: center;
  }
  .pageContent {
    background-color: #e8e8e8;
    float: right;
  }
  ion-button:hover {
      --ion-color: light
  }
  ion-input{
    --background: #f2f2f2;
  }
  ion-content{
  --background: darkgray !important;
  }
  .onlineStatus {
    height: 15px;
    width: 15px;
    background-color: rgb(37, 182, 8);
    border-radius: 50%;
    display: inline-block;
    margin-left: -10%;
  }