<ion-content>
  <ion-card style="min-height: 97%;
                  position: relative;
                  margin-top: 0.9%;">
    <ion-card-content>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
      <ion-tabs style="width: 100%;
                      min-height: 930px;
                      --ion-background-color: #f1f1f1;;">
        <ion-tab-bar slot="top" style="box-shadow: 0px 0px 30px #888888;">
          <ion-tab-button tab="search-movies" class="header-tab-button">
            <ion-label>
              <ion-img src="assets/images/account/manager/browse-upcoming-movies-sub-page/search-movies-tab-icon.png" class="header-tab-icon"></ion-img>
            </ion-label>
            <ion-label class="header-tab-heading">
              <b>SEARCH MOVIES</b>
            </ion-label>
          </ion-tab-button>

          <ion-tab-button tab="movie-waitlist" class="header-tab-button">
            <ion-label>
              <ion-img src="assets/images/account/manager/browse-upcoming-movies-sub-page/movie-waitlist-tab-icon.png" class="header-tab-icon"></ion-img>
            </ion-label>
            <ion-label class="header-tab-heading">
              <b>MOVIE WAITLIST</b>
            </ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>

    </ion-card-content>
  </ion-card>
</ion-content>