<ion-content>
  <ion-toolbar>
  <ion-content>
    <ion-card style="min-height: 97%;
                    position: relative;
                    margin-top: 0.9%;">
      <ion-card-content>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-segment value="all">
          <ion-segment-button value="all">
            SEARCH
          </ion-segment-button>
          <ion-segment-button value="favorites">
            WAITLIST
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
