<ion-content>
  <ion-card style="min-height: 97%;
                  position: relative;
                  margin-top: 0.9%;">
    <ion-card-content>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-grid style="padding: 0; margin: 0;">
        <ion-row>
          <ion-col size="6">

            <!-- MANAGE SHOWING EXPERIENCES SECTION -->
            <div style="width: 100%;
                        height: 39vh;
                        background-color: #ffffff;
                        border-radius: 10px;
                        padding: 3%;">

                <ion-label style="font-size: 20px;
                                  letter-spacing: 1px;
                                  color: #000000;
                                  font-weight: 500;">
                  Change Showing Experiences
                </ion-label>

                <!-- Loading Spinner - Removing showing experience -->
                <ion-spinner name="crescent" style="height: 50px;
                                                    width: 50px;
                                                    position: absolute;
                                                    top: 5%;
                                                    left: 60%;
                                                    transform: translateX(-40%);" *ngIf="loadingSpinnerRemoveShowingExperience"></ion-spinner>

                <div style="padding: 2%;
                            height: 30vh;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                            min-width: 100%;
                            margin-top: 2%;
                            overflow-y: scroll;">

                  <div style="width: 70%;
                              height: 50px;
                              border-radius: 10px;
                              border: 1px solid #ccc;
                              position: relative;
                              left: 50%;
                              top: 50%;
                              transform: translate(-50%, -50%);" *ngIf="noShowingExperienceAvailableText">
                    <ion-label style="position: relative;
                                      left: 25%;
                                      top: 25%;
                                      transform: translate(-75%, -75%);
                                      font-size: 15px;">
                      No showing experiences available
                    </ion-label>
                  </div>

                  <!-- Loading Spinner - Retrieving movies upon page render -->
                  <ion-spinner name="dots" style="height: 100px;
                                                  width: 100px;
                                                  position: absolute;
                                                  left: 50%;
                                                  top: 50%;
                                                  transform: translate(-50%,-50%);
                                                  margin-top: 20px;" *ngIf="loadingSpinnerShowingExperience"></ion-spinner>

                  <table style="width: 100%;
                                padding: 10%;
                                font-size: 15px;" *ngIf="!noShowingExperienceAvailableText">
                    <thead style="border-bottom: 2px solid #ccc;">
                      <tr>
                        <th>Experience</th>
                        <th>Description</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let showingExperience of showingExperienceList">
                        <td>{{ showingExperience?.showingExperience }}</td>
                        <td>| {{ showingExperience?.description }}</td>
                        <td>
                          <ion-grid>
                            <ion-row>
                              <ion-col>
                                <ion-button style="width: 120px;" (click)="openEditShowingExperienceModal(showingExperience)">
                                  <ion-icon name="create-outline"></ion-icon>
                                  <ion-label style="color: white;
                                                    margin-left: 5px;">
                                    EDIT
                                  </ion-label>
                                </ion-button>
                              </ion-col>
                              <ion-col>
                                <ion-button color="danger" style="width: 120px;"
                                  (click)="removeShowingExperienceAlert('Confirmation Required', 'This showing experience will be removed, do you want to continue?', showingExperience._id)">
                                  <ion-icon name="trash-outline"></ion-icon>
                                  <ion-label style="color: white;
                                                    margin-left: 5px;">
                                    REMOVE
                                  </ion-label>
                                </ion-button>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </td>
                      </tr>
                    </tbody>
                  </table>
             
                </div>

                <ion-button color="primary" style="width: 50px;
                                                      height: 50px;
                                                      --border-radius: 20px;
                                                      position: absolute;
                                                      top: 2%;
                                                      right: 2%;" (click)="openAddNewShowingExperienceModal()">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>

              </div>
          </ion-col>
          <ion-col size="6">
            
            <!-- UPDATE ACCOUNT DETAILS SECTION -->
            <div style="width: 100%;
                  height: auto;
                  background-color: #ffffff;
                  border-radius: 10px;
                  padding: 3%;">

              <ion-label style="font-size: 20px;
                                letter-spacing: 1px;
                                color: #000000;
                                font-weight: 500;">
                Update Account Details
              </ion-label>

              <div style="padding: 3%;">
                <ion-label style="font-size: 18px;
                                  font-weight: 400;
                                  color: #000000;">
                  Enter Login Credentials
                </ion-label>
  
                <form>
                  <ion-grid style="margin-top: 10px;">
                    <ion-row>
                      <ion-col size="4">
                        <ion-label class="update-account-details-form-text">
                          Email Address
                        </ion-label>
                      </ion-col>
                      <ion-col size="8">
                        <ion-item>
                          <ion-input type="email" clearInput placeholder="Enter Email Address"></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="4">
                        <ion-label class="update-account-details-form-text">
                          Password
                        </ion-label>
                      </ion-col>
                      <ion-col size="8">
                        <ion-item>
                          <ion-input type="password" clearInput placeholder="Enter Password"></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row style="margin-top: 20px;">
                      <ion-col>
                        <ion-button expand="block" style="height: 50px;" type="submit"> 
                          <ion-icon name="shield-checkmark-outline"></ion-icon>
                          <ion-label style="color: white;
                                            margin-left: 5px;">
                            VERIFY
                          </ion-label>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </form>
              </div>

            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">

            <!-- ABOUT SECTION -->
            <div style="width: 100%;
              height: auto;
              background-color: #ffffff;
              border-radius: 10px;
              padding: 1%;">

              <ion-label style="font-size: 20px;
                                letter-spacing: 1px;
                                color: #000000;
                                font-weight: 500;">
                ABOUT
              </ion-label>

              <div style="width: 90%;
                          height: auto;
                          background-color: #e7e7e7;
                          border-radius: 10px;
                          position: relative;
                          left: 50%;
                          transform: translateX(-50%);
                          margin-top: 1%;">
                <ion-grid>
                  <ion-row>
                    <ion-col size="12">
                      <div style="width: 40%;
                                  position: relative;
                                  left: 50%;
                                  transform: translateX(-50%);">
                        <ion-grid>
                          <ion-row>
                            <ion-col size="4">
                              <div class="about-image-blocks">
                                <img src="assets/images/Logo/MovBook-T2.png" class="about-image">
                              </div>
                            </ion-col>
                            <ion-col size="4">
                              <div class="about-image-blocks">
                                <img src="assets/images/account/manager/settings-sub-page/Plymouth-University-Logo.png" class="about-image about-image-center-block">
                              </div>
                            </ion-col>
                            <ion-col size="4">
                              <div class="about-image-blocks">
                                <img src="assets/images/account/manager/settings-sub-page/NSBM-Logo.png" class="about-image">
                              </div>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <h2 style="text-align: center;
                            color: black;">
                        MovBook Platform was developed by University of Plymouth Third Year students <br> 
                              following BSc(Hons) Software Engineering Degree</h2><br>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <h1 style="text-align: center;
                            color: black;">Assignment Title: <b>Coursework CNET343SL - Distributed System</b></h1>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>

            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
</ion-content>
