<ion-content>
  <ion-grid style="background-color: #374d58">
    <ion-row>
      <ion-col size="auto">
        <img src="assets\images\MovBook-Logo.jpeg" style="width: 200px;border-radius: 5px;margin-bottom: 10px;">
        <div class="profilePhoto">
          <img src="assets\images\account\admin\admin.png" style="border-radius: 50px; width: 150px; height: 150px" />
          <span class="onlineStatus"></span>

          <h4>{{admin_Prefix}} {{admin_FirstName}} {{admin_LastName}}</h4>
          <h6>{{admin_Email}}</h6>

          <br />
        </div>

        <ion-button expand="block" color="button" [routerLink]="['/','administrator','dashboard']">Dashboard
        </ion-button>
        <ion-button expand="block" color="light" [routerLink]="['/','administrator','manager-accounts']">Manager
          Accounts</ion-button>
        <ion-button expand="block" color="button" [routerLink]="['/','administrator','profile-sub-page']" style="margin-top: 50%">Profile
        </ion-button>
        <ion-button expand="block" color="button" [routerLink]="['/','administrator','settings-sub-page']">Settings</ion-button>
        <ion-button expand="block" color="button" [routerLink]="">Logout</ion-button>
        <!-- [routerLink]="['/','administrator','manager-accounts','edit-manager',ManagerDetails._id]" -->
      </ion-col>

      <ion-col style="width:100%;border-radius: 25px; background-color: #e8e8e8;margin: 10px;height: 700px">


        <h1 style="color: #374d58;"><b>Add a new Manager</b></h1>

        <ion-card
          style="border-radius: 10px;background-color: transparent;height: 600px;margin-left: 70px;margin-right: 70px;margin-top: 20px;overflow-y: scroll;">

          <form #employeeForm="ngForm" (Submit)="onSubmit(employeeForm)">
            <div class="row" style="padding-top: 20px;">

              <!-- Name -->
              <div class="col-6 col-sm-4" style="margin-left: 20px;">
                <h6 style="color: black;">Full Name*</h6>
              </div>

              <div class="col-6 col-sm-7">

                <ion-item >
                  <ion-input  name="Prefix" type="text" placeholder="Prefix" #name="ngModel" ngModel></ion-input>
                </ion-item>

                <ion-item style="margin-top: 5px;">
                  <ion-input name="FirstName" type="text" placeholder="First Name" #name="ngModel" ngModel></ion-input>
                </ion-item>

                <ion-item style="border-radius: 10px;margin-top: 5px;">
                  <ion-input name="MiddleName" type="text" placeholder="Middle Name" #name="ngModel" ngModel></ion-input>
                </ion-item>

                <ion-item style="border-radius: 10px;margin-top: 5px;">
                  <ion-input name="LastName" type="text" placeholder="Last Name" #name="ngModel" ngModel></ion-input>
                </ion-item>
              </div>

              <!-- Email -->
              <div class="w-100 d-none d-md-block" style="margin-top: 15px;"></div>

              <div class="col-6 col-sm-4" style="margin-left: 20px;">
                <h6 style="color: black;">Email*</h6>
              </div>

              <div class="col-6 col-sm-7">
                <ion-item style="border-radius: 10px;">
                  <ion-input name="Email" type="email" placeholder="manager@email.com" #email="ngModel" ngModel>
                  </ion-input>
                </ion-item>
              </div>

              <!-- Password -->
              <div class="w-100 d-none d-md-block" style="margin-top: 15px;"></div>

              <div class="col-6 col-sm-4" style="margin-left: 20px;">
                <h6 style="color: black;">Password*</h6>
              </div>

              <div class="col-6 col-sm-7">
                <ion-item style="border-radius: 10px;">
                  <ion-input name="Password" type="password" placeholder="Password" #password="ngModel" ngModel>
                  </ion-input>
                </ion-item>
              </div>

              <!-- Retype Password -->
              <div class="w-100 d-none d-md-block" style="margin-top: 15px;"></div>

              <div class="col-6 col-sm-4" style="margin-left: 20px;">
                <h6 style="color: black;">Retype Password*</h6>
              </div>

              <div class="col-6 col-sm-7">
                <ion-item style="border-radius: 10px;">
                  <ion-input name="RetypePassword" type="password" placeholder="Retype Password" #password="ngModel" ngModel>
                  </ion-input>
                </ion-item>
              </div>


              <!-- Phone -->
              <div class="w-100 d-none d-md-block" style="margin-top: 15px;"></div>

              <div class="col-6 col-sm-4" style="margin-left: 20px;">
                <h6 style="color: black;">Phone Number*</h6>
              </div>
              <div class="col-6 col-sm-2">+94</div>

              <div class="col-6 col-sm-5">
                <ion-item style="border-radius: 10px;">
                  <ion-input name="Phone" type="text" placeholder="Phone No" #phone="ngModel" ngModel></ion-input>
                </ion-item>
              </div>

              <!-- Address -->
              <div class="w-100 d-none d-md-block" style="margin-top: 15px;"></div>

              <div class="col-6 col-sm-4" style="margin-left: 20px;">
                <h6 style="color: black;">Address*</h6>
              </div>
              <div class="col-6 col-sm-7">
                <ion-item style="border-radius: 10px;">
                  <ion-input name="StreetAddress" type="text" placeholder="Street Address" #address="ngModel" ngModel>
                  </ion-input>
                </ion-item>

                <ion-item style="border-radius: 10px; margin-top: 5px;">
                  <ion-input name="City" type="text" placeholder="City" #address="ngModel" ngModel>
                  </ion-input>
                </ion-item>

                <ion-item style="border-radius: 10px;margin-top: 5px;">
                  <ion-input name="PostalCode" type="text" placeholder="Postal Code" #address="ngModel" ngModel>
                  </ion-input>
                </ion-item>
              </div>

            </div>

            <div><br></div>

            <div class="row" style="margin-bottom: 20px;">
              <div class="col-6 col-sm-6">
                <ion-button size="medium" type="button" style="color: rgb(90, 90, 90);width: 120px;margin-left: 70px;"
                  (click)="resetForm(employeeForm)">Reset</ion-button>
              </div>

              <div class="col-6 col-sm-6">
                <ion-button size="medium" type="submit"
                  style="color: rgb(90, 90, 90);width: 120px;float: right;margin-right: 70px;"
                  (click)="onSubmit(employeeForm)">Register</ion-button>
              </div>

            </div>
          </form>
          
        </ion-card>

      </ion-col>

      <ion-col style="width:100%;border-radius: 25px; background-color: #e8e8e8;margin: 10px;height: 700px">
        <ion-row>
          <h1 style="color: #374d58;"><b>Managers</b></h1>
        </ion-row>
        <ion-searchbar style="color: white"></ion-searchbar>
        <ion-row style="height: 500px;overflow-y: scroll;">
          <ion-col>
            <ion-card *ngFor="let ManagerDetails of managerArray " style="background-color: #cccccc;">



              <img src="assets\images\account\admin\manager.png"
                style="border-radius: 50px; width: 100px; height: 100px;float: right; margin-right: 30px; margin-top: 40px;">

              <div style="margin-left: 20px;">
                <h6 style="color: black">ID : {{ManagerDetails._id}}</h6>
                <h6 style="color: black">Name : {{ ManagerDetails.Prefix }} {{ManagerDetails.FirstName}} {{ ManagerDetails.MiddleName }} {{ManagerDetails.LastName}}</h6>
                <h6 style="color: black">Email : {{ ManagerDetails.Email }}</h6>
                <h6 style="color: black">Phone : {{ ManagerDetails.Phone }}</h6>
                <h6 style="color: black">Address : {{ ManagerDetails.StreetAddress }},{{ ManagerDetails.City }},{{ ManagerDetails.PostalCode }}</h6>
              </div>
              <!--<ion-button><a [routerLink]="['/administrator/manager-accounts/edit-manager']"> Update Details</a></ion-button>
                -->
              <ion-button style="margin-left: 70px;margin-top: 20px; margin-bottom: 20px;"
              [routerLink]="['/','administrator','manager-accounts','edit-manager',ManagerDetails._id]">Update Details</ion-button>

              <ion-button style="margin-left: 70px;margin-top: 20px; margin-bottom: 20px;"
                (click)='deleteAManager(ManagerDetails._id)'> Remove Manager </ion-button>

            </ion-card>

          </ion-col>



        </ion-row>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>