<ion-content>
  <ion-grid style="background-color: #374d58">
    
    <ion-row>
      <ion-col size="auto">
        <img src="assets\images\MovBook-Logo.jpeg" style="width: 200px;border-radius: 5px;margin-bottom: 10px;">
        <div class="profilePhoto">
          <img src="assets\images\admin.png" style="border-radius: 50px; width: 150px; height: 150px" />
          <span class="onlineStatus"></span>
          <h4>{{name_admin}}</h4>
          <h6>{{email_admin}}</h6>
          <br />
        </div>
        <ion-button expand="block" color="button" href="administrator/dashboard">Dashboard</ion-button>
        <ion-button expand="block" color="button" href="administrator/manager-accounts">Manager Accounts</ion-button>
        <ion-button expand="block" color="button" href="administrator/profile-sub-page" style="margin-top: 50%">Profile</ion-button>
        <ion-button expand="block" color="light" href="administrator/settings-sub-page">Settings</ion-button>
        <ion-button expand="block" color="button" href="">Logout</ion-button>
      </ion-col>

      <ion-col style="width:100%;border-radius: 25px; background-color: #e8e8e8;margin: 10px;height: 700px">
        
        <ion-row>
          <h1 style="color: #374d58;"><b>Settings (Current Showing Movies)</b></h1>
        </ion-row>

        <ion-row style="height: 600px;overflow-y: scroll;">
          <ion-card>
          <img src="assets\images\godzilla.jpg" style=" width:200px; height: 250px">
          <h6 style="margin-left:50px">Title : Godzilla</h6>
        </ion-card>

        <ion-card>
          <img src="assets\images\godzilla.jpg" style=" width:200px; height: 250px">
          <h6 style="margin-left:50px">Title : Godzilla</h6>
        </ion-card>

        <ion-card>
          <img src="assets\images\godzilla.jpg" style=" width:200px; height: 250px">
          <h6 style="margin-left:50px">Title : Godzilla</h6>
        </ion-card>

        <ion-card>
          <img src="assets\images\godzilla.jpg" style=" width:200px; height: 250px">
          <h6 style="margin-left:50px">Title : Godzilla</h6>
        </ion-card>

        <ion-card>
          <img src="assets\images\godzilla.jpg" style=" width:200px; height: 250px">
          <h6 style="margin-left:50px">Title : Godzilla</h6>
        </ion-card>

        <ion-card>
          <img src="assets\images\godzilla.jpg" style=" width:200px; height: 250px">
          <h6 style="margin-left:50px">Title : Godzilla</h6>
        </ion-card>

        <ion-card>
          <img src="assets\images\godzilla.jpg" style=" width:200px; height: 250px">
          <h6 style="margin-left:50px">Title : Godzilla</h6>
        </ion-card>

        <ion-card>
          <img src="assets\images\godzilla.jpg" style=" width:200px; height: 250px">
          <h6 style="margin-left:50px">Title : Godzilla</h6>
        </ion-card>

        <ion-card>
          <img src="assets\images\godzilla.jpg" style=" width:200px; height: 250px">
          <h6 style="margin-left:50px">Title : Godzilla</h6>
        </ion-card>

        <ion-card>
          <img src="assets\images\godzilla.jpg" style=" width:200px; height: 250px">
          <h6 style="margin-left:50px">Title : Godzilla</h6>
        </ion-card>

        <ion-card>
          <img src="assets\images\godzilla.jpg" style=" width:200px; height: 250px">
          <h6 style="margin-left:50px">Title : Godzilla</h6>
        </ion-card>

        <ion-card>
          <img src="assets\images\godzilla.jpg" style=" width:200px; height: 250px">
          <h6 style="margin-left:50px">Title : Godzilla</h6>
        </ion-card>

        <ion-card>
          <img src="assets\images\godzilla.jpg" style=" width:200px; height: 250px">
          <h6 style="margin-left:50px">Title : Godzilla</h6>
        </ion-card>

        <ion-card>
          <img src="assets\images\godzilla.jpg" style=" width:200px; height: 250px">
          <h6 style="margin-left:50px">Title : Godzilla</h6>
        </ion-card>
        </ion-row>

      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>