<ion-header>
    <ion-toolbar>
      <ion-title>Forgot Password? </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form [formGroup]="form" (submit)="onSent()"  >
  <ion-card>
    <ion-card-header>
      
      <ion-input formControlName="email" placeholder="Enter your email here.."></ion-input>
      
    </ion-card-header>
    <ion-card-content>
      please follow the guidelines which are sent to your email.. thank you !
    </ion-card-content>
    <br>
    
  </ion-card>
  <ion-button type="submit">submit</ion-button>
  </form>
  </ion-content>
  