<ion-content>
  <ion-grid style="background-color: #374d58">
    <ion-row>
      <ion-col size="auto">
        <img src="assets\images\MovBook-Logo.jpeg" style="width: 200px;border-radius: 5px;margin-bottom: 10px;">
        <div class="profilePhoto">
          <img src="assets\images\operator.jpg" style="border-radius: 50px; width: 150px; height: 150px" />
          <span class="onlineStatus"></span>
          <h4>John Steve</h4>
          <h6>john@movbook.com</h6>
          <br />
        </div>
        <ion-button expand="block" color="button" (click)="goToDashboard()">Dashboard</ion-button>
        <ion-button expand="block" color="light" (click)="goToBooking()">Movie Bookings</ion-button>
        <ion-button expand="block" color="button" (click)="goToStock()">Beverages</ion-button>
        <ion-button expand="block" color="button" (click)="goToSupport()">Support</ion-button>
        <ion-button expand="block" color="button" style="margin-top: 80%" (click)="goToSettings()">Settings</ion-button>
      </ion-col>
      <ion-col style="width:80%;border-radius: 25px; background-color: #e8e8e8;margin: 10px;">
        <ion-row>
          <h1 style="color: #374d58;"><b>Movies</b></h1>
        </ion-row>
        <ion-row style="height: 280px;overflow-y: scroll;">
          <div *ngFor="let movie of Movies">
            <ion-card *ngIf="movie.movieStatus == 'NowShowing'" style="width: 240px;">
              <ion-img src='{{movie.posterLink}}' style="height: 250px;"></ion-img>
              <ion-card-title>{{movie.title}} (Year: {{movie.releasedYear}})</ion-card-title>
              <ion-card-subtitle>{{movie.showTime}}</ion-card-subtitle>
              <ion-card-content>
                <p>Director: {{movie.director}}</p>
                <p>Language: {{movie.language}}</p>
                <p>Production: {{movie.production}}</p>
                <p>Rated: {{movie.rated}}</p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-row>
        <ion-row>
          <h1 style="color: #374d58;"><b>Beverages</b></h1>
        </ion-row>
        <ion-row style="height: 280px;overflow-y: scroll;">
          <ion-card *ngFor="let beverage of Beverages" style="width: 230px;height: 350px;"
            (click)="beverageUpdate(beverage)">
            <ion-img src='{{beverage.imgURL}}' style="height: 200px;"></ion-img>
            <ion-card-title>{{beverage.name}}</ion-card-title>
            <ion-card-content>
              <p>Price (LKR): {{beverage.price}}</p>
              <p>Quantity: {{beverage.stock}}</p>
              <ion-button (click)="beverageUpdate(beverage)" color="success">Select</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-row>
      </ion-col>
      <ion-col size="3" style="width:200px;border-radius: 25px; background-color: #e8e8e8;margin: 10px;">
        <ion-row>
          <h1 style="color: #374d58;"><b>Booking Selection</b></h1>
        </ion-row>
        <ion-list>
          <ion-item>
            <ion-label>Movie Title: {{title}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Adult Ticket Quantity: {{adultQuantity}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Child Ticket Quantity: {{childQuantity}}</ion-label>
          </ion-item>
            <ion-item>Selection: {{selectedBeverage}}</ion-item>
            <ion-item>Quantity: <ion-input [disabled]="selectedBeverage==undefined" type="number" name="Quantity" [(ngModel)]="Quantity" min="10" max="999" placeholder="10" required onKeyPress="if(this.value.length>=3) return false;">
              </ion-input>
            </ion-item>
          <ion-item *ngFor="let selectedBeverage of BeverageSelection">
            <ion-label>Beverage & Quantity: {{selectedBeverage.name}} {{selectedBeverage.quantity}}</ion-label>
          </ion-item>
          <ion-button>Pay Now</ion-button>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>