ion-item {
  --border-width: 0;
  --inner-border-width: 0;
}

ion-content{            
  --background: darkgray !important;
}

#side-menu-nav{
  max-width: 15%;
  --ion-background-color: darkgray !important;
  border: none;
}

.side-menu-nav-heading{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 35px;
  letter-spacing: 1px;
  font-size: 15px;
  font-family: sans-serif;
}

.sub-page-item-content{
  height: 40px;
}

.side-menu-nav-icon{
  width: 27px;
}

.sub-page-items{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
  --ion-background-color: #2f414b;
  color: #ffffff;
  border-radius: 10px;
}

.sub-page-items:hover{
  --ion-background-color: #ffffff;
  color: #2f414b;
}

.active-sub-page{
  border-left: 15px solid var(--ion-color-primary);
  --ion-background-color: #202c33;
}