<ion-split-pane contentId="side-menu-navigation">

  <ion-menu contentId="side-menu-navigation" type="overlay" side="start" id="side-menu-nav">

    <ion-header style="height: 230px;">
      <ion-toolbar>
        <ion-img src="assets/images/Logo/MovBook-Logo.jpeg" style="width: 70px;
                                                  position: relative;
                                                  left: 15px;
                                                  top: 15px;"></ion-img>
        <ion-label> 
          <h3 style="margin-top: -10px;
                    color: rgb(255, 255, 255);
                    font-size: 20px;
                    position: absolute;
                    left: 50%;
                    font-family: Arial, Helvetica, sans-serif;"><b>MANAGER</b></h3>
        </ion-label>
        <div style="height: 90px;
                    width: 90px;
                    background-color: #076ec0ff;
                    border-radius: 10px;
                    position: absolute;
                    left: 50%;
                    top: 26%;
                    transform: translateX(-50%);">
          <ion-img src="assets/images/account/manager/side-menu-nav-images/manager-profile.png" style="width: 70px;
                                                              height: 70px;
                                                              position: relative;
                                                              left: 50%;
                                                              top: 10px;
                                                              transform: translateX(-50%);"></ion-img>
        <div style="width: 20px;
                    height: 20px;
                    background-color: rgb(0, 206, 45);
                    border-radius: 20px;
                    position: absolute;
                    right: 0;
                    margin-right: -5px;
                    margin-top: 5px;"></div>
        </div>
        <ion-label>
          <h3 style="text-align: center; 
                    color: rgb(255, 255, 255);
                    font-size: 20px;
                    margin-top: 50%;">Mr. Lucas Anderson</h3>
        </ion-label>
        <ion-label>
          <h3 style="text-align: center; 
                    color: rgb(255, 255, 255);
                    padding: 0;
                    margin: 0;
                    margin-top: -5%;
                    letter-spacing: 1px;"><b>lucasanderson@gmail.com</b></h3>
        </ion-label>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item [routerLink]="'/manager/dashboard'" 
            routerDirection="root" 
            [class.active-sub-page]="selectedSubPagePath === '/manager/dashboard'" 
            class="sub-page-items">
            <ion-label>
              <ion-img 
                src="assets/images/account/manager/side-menu-nav-icons/dashboard.png" 
                class="sub-page-item-content side-menu-nav-icon"></ion-img>
            </ion-label>
            <ion-label class="sub-page-item-content side-menu-nav-heading">
              <b>DASHBOARD</b>
            </ion-label>
          </ion-item>

          <ion-item [routerLink]="'/manager/browse-upcoming-movies/search-movies'" 
            routerDirection="root" 
            [class.active-sub-page]="selectedSubPagePath === '/manager/browse-upcoming-movies/search-movies' || selectedSubPagePath === '/manager/browse-upcoming-movies/movie-waitlist'" 
            class="sub-page-items">
            <ion-label>
              <ion-img src="assets/images/account/manager/side-menu-nav-icons/browse-upcoming-movies.png" 
                class="sub-page-item-content side-menu-nav-icon" 
                style="margin-bottom: 5px;"></ion-img>
            </ion-label>
            <ion-label class="sub-page-item-content side-menu-nav-heading" style="position: absolute;
                                                                                  top: 38%;
                                                                                  transform: translateY(-62%);
                                                                                  line-height: 1.4">
              <b>BROWSE UPCOMING<br/>MOVIES</b>
            </ion-label>
          </ion-item>

          <ion-item 
            [routerLink]="'/manager/movie-catalog/upcoming-movies'" 
            routerDirection="root" 
            [class.active-sub-page]="selectedSubPagePath === '/manager/movie-catalog'" 
            class="sub-page-items">
            <ion-label>
              <ion-img 
                src="assets/images/account/manager/side-menu-nav-icons/movie-catalog.png" 
                class="sub-page-item-content side-menu-nav-icon"></ion-img>
            </ion-label>
            <ion-label class="sub-page-item-content side-menu-nav-heading">
              <b>MOVIE CATALOG</b>
            </ion-label>
          </ion-item>

          <ion-item 
            [routerLink]="'/manager/locations-halls'" 
            routerDirection="root" 
            [class.active-sub-page]="selectedSubPagePath === '/manager/locations-halls'" 
            class="sub-page-items">
            <ion-label>
              <ion-img 
                src="assets/images/account/manager/side-menu-nav-icons/locations-and-halls.png" 
                class="sub-page-item-content side-menu-nav-icon"></ion-img>
            </ion-label>
            <ion-label class="sub-page-item-content side-menu-nav-heading" style="position: absolute;
                                                                                  top: 38%;
                                                                                  transform: translateY(-62%);
                                                                                  line-height: 1.4">
              <b>CINEMA LOCATIONS<br/>AND HALLS</b>
            </ion-label>
          </ion-item>

          <ion-item 
            [routerLink]="'/manager/food-and-beverages'" 
            routerDirection="root" 
            [class.active-sub-page]="selectedSubPagePath === '/manager/food-and-beverages'" 
            class="sub-page-items">
            <ion-label>
              <ion-img 
                src="assets/images/account/manager/side-menu-nav-icons/food-and-beverages.png" 
                class="sub-page-item-content side-menu-nav-icon"></ion-img>
            </ion-label>
            <ion-label class="sub-page-item-content side-menu-nav-heading">
              <b>FOOD & BEVERAGES</b>
            </ion-label>
          </ion-item>

          <ion-item 
            [routerLink]="'/manager/manage-notifications'" 
            routerDirection="root" 
            [class.active-sub-page]="selectedSubPagePath === '/manager/manage-notifications'" 
            class="sub-page-items">
            <ion-label>
              <ion-img 
                src="assets/images/account/manager/side-menu-nav-icons/manage-notifications.png" 
                class="sub-page-item-content side-menu-nav-icon"></ion-img>
            </ion-label>
            <ion-label class="sub-page-item-content side-menu-nav-heading" style="position: absolute;
                                                                                  top: 38%;
                                                                                  transform: translateY(-62%);
                                                                                  line-height: 1.4">
              <b>MANAGE<br/>NOTIFICATIONS</b>
            </ion-label>
          </ion-item>

          <ion-item 
            [routerLink]="'/manager/operator-accounts'" 
            routerDirection="root" 
            [class.active-sub-page]="selectedSubPagePath === '/manager/operator-accounts'" 
            class="sub-page-items">
            <ion-label>
              <ion-img 
                src="assets/images/account/manager/side-menu-nav-icons/operator-accounts.png" 
                class="sub-page-item-content side-menu-nav-icon"></ion-img>
            </ion-label>
            <ion-label class="sub-page-item-content side-menu-nav-heading">
              <b>OPERATOR ACCOUNTS</b>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list style="position: relative;
                      top: 3%;">
        <ion-item 
          [routerLink]="'/manager/profile'" 
          routerDirection="root" 
          [class.active-sub-page]="selectedSubPagePath === '/manager/profile'" 
          class="sub-page-items">
          <ion-label>
            <ion-img 
              src="assets/images/account/manager/side-menu-nav-icons/profile.png" 
              class="sub-page-item-content side-menu-nav-icon"></ion-img>
          </ion-label>
          <ion-label class="sub-page-item-content side-menu-nav-heading">
            <b>PROFILE</b>
          </ion-label>
        </ion-item>

        <ion-item 
          [routerLink]="'/manager/settings'" 
          routerDirection="root" 
          [class.active-sub-page]="selectedSubPagePath === '/manager/settings'" 
          class="sub-page-items">
          <ion-label>
            <ion-img 
              src="assets/images/account/manager/side-menu-nav-icons/settings.png" 
              class="sub-page-item-content side-menu-nav-icon"></ion-img>
          </ion-label>
          <ion-label class="sub-page-item-content side-menu-nav-heading">
            <b>SETTINGS</b>
          </ion-label>
        </ion-item>

        <ion-item style="border-radius: 50px;">
          <button ion-button style="width: 300px;
                                    height: 50px;
                                    background-color: rgb(14, 81, 107);
                                    border: 2px #076ec0ff solid;
                                    border-radius: 30px;
                                    margin-top: 5px;" 
            (click)="logoutAlert('Confirmation ', 'This action will log you out, are you sure you want to continue?')">
            <ion-label>
              <ion-img src="assets/images/account/manager/side-menu-nav-icons/logout.png" style="width: 35px;
                                                                                                font-size: 30px;
                                                                                                margin-top: 2px;
                                                                                                position: absolute;
                                                                                                top: 50%;
                                                                                                transform: translateY(-50%);"></ion-img>
            </ion-label>
            <ion-label style="left: 30%;
                              margin-top: 2px;
                              font-size: 20px;
                              letter-spacing: 3px;
                              color: #ff0000;" class="side-menu-nav-heading"> 
              <b>LOGOUT</b>
            </ion-label>
          </button>
        </ion-item>
      </ion-list>

    </ion-content>

  </ion-menu>

  <ion-router-outlet id="side-menu-navigation"></ion-router-outlet>

</ion-split-pane>
