<app-header-component></app-header-component>
<ion-content>
  <div style="padding-top: 30px;">
    <ion-header style="text-align: center; font-size: xx-large; padding-bottom: 20px;">Booking History</ion-header>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size-md="10" offset-md="1">
        <div>
        <ion-card *ngFor="let tickets of bookedticket">
          <ion-row>
            <ion-col>
          <ion-grid>
            <ion-row>
              <ion-col offset-md="0.4">
                <img src="{{tickets.movieTickets.posterLink}}" style="height: 250px; width: 200px;">
              </ion-col>
              <ion-col size-md="4" offset-md="1">
                <ion-card-header>
                  <ion-card-title>Movie Name: {{tickets.movieTickets.title}}</ion-card-title>
                  <ion-card-subtitle>Location: {{tickets.movieTickets.location}}</ion-card-subtitle>
                  <ion-card-subtitle>Time: {{tickets.movieTickets.timeSlot}}</ion-card-subtitle>
                  <ion-card-subtitle>Movie Hall: {{tickets.movieTickets.hall}}</ion-card-subtitle>
                  <ion-card-subtitle>Seat Number: {{tickets.movieTickets.seatNumbers}}</ion-card-subtitle>
                  <ion-card-subtitle>Ticket Cost: {{tickets.movieTickets.movieTotal}}</ion-card-subtitle>
                  <ion-card-subtitle>Meal Cost: {{tickets.mealCostLKR}}</ion-card-subtitle>
                  <ion-card-subtitle>Number Of Tickets: {{totalTickets}}</ion-card-subtitle>
                  <ion-card-subtitle>Purchased Date: {{tickets.purchaseDate}}</ion-card-subtitle>
                </ion-card-header>
              </ion-col>
            </ion-row>
          </ion-grid>
            </ion-col>
            </ion-row>
            <ion-item-divider>
              <ion-card-content>
                <ion-label>
                  Total Price: {{tickets.totalCostLKR}}
                </ion-label>
              </ion-card-content>
            </ion-item-divider>
        </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

