<ion-header [translucent]="true">
    <ion-toolbar>
        <img src="../../../../assets/images/MovBook-Logo.jpeg" style="width: 160px;border-radius: 5px;margin-bottom: 10px; padding-left: 10px;">
        <ion-icon name="person-circle-outline" slot="end" style="padding-right: 15px; font-size: 30px"></ion-icon>
        <ion-icon name="log-out-outline" slot="end" style="padding-right: 20px; padding-left: 15px; font-size: 30px;"></ion-icon>
      <ion-button slot="start" color="light">
        <ion-menu-button menu = "menuCustomer"></ion-menu-button>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid>
    <ion-row>
        <ion-col>
            <ion-grid>
              <ion-row>
                  <ion-col>
                    <div style="position: relative; background-color:darkgray">
                        <ion-title style="font-size: x-large; font-weight: bolder;"> Upcoming Movies</ion-title>
                        <br>
                        <ion-slides [options]="sliderConfig">
                            <ion-slide *ngFor="let movie of upcomingShowingMovies">
                                  <img src="{{movie.posterLink}}" style="width: 90%;">
                            </ion-slide>
                        </ion-slides>
                    </div>
                  </ion-col>
              </ion-row>
              <br>
              <ion-row>
                  <ion-col size-md="10"  offset-md="1">
                      <ion-card>
                    <ion-grid style="text-align: center;">
                        <ion-row>
                            <ion-col>
                                <ion-icon name="cash-outline" style="font-size: xx-large;"></ion-icon>
                                <ion-title>Best Prices</ion-title>
                                <ion-label>
                                    Get the best prices for the latest movies and watch in any experience you prefer 
                                </ion-label>
                            </ion-col>
                            <ion-col>
                                <ion-icon name="globe-outline" style="font-size: xx-large;"></ion-icon>
                                <ion-title>Online Booking</ion-title>
                                <ion-label>
                                    Book anywhere in he country and reserve a seat o wwatch your favorite movie
                                </ion-label>
                            </ion-col>
                            <ion-col>
                                <ion-icon name="headset-outline" style="font-size: xx-large;"></ion-icon>
                                <ion-title>Professional Support</ion-title>
                                <ion-label>
                                    We provide a 24 hour our service to book tickets and also availabe o provide you support 24/7 
                                </ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                      </ion-card>
                  </ion-col>
              </ion-row>
              <br>
            <ion-row>
                <br>
                  <ion-col>
                    <ion-title style="font-size: x-large; font-weight: bolder;"> Now Showing Movies</ion-title>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-md="10"  offset-md="1">
                    <ion-card>
                        <div style="height: 500px; overflow-y: auto; padding-top: 20px;">
                            <ion-grid>
                                <ion-row *ngFor="let movie of nowShowingMovies">
                                <ion-col size-md="5"  offset-md="0.5">
                                  <img src="{{movie.posterLink}}">     
                                </ion-col>
                                <ion-col>
                                    <br>
                                   <ion-label style="font-size: x-large;"><strong> Name: </strong>{{movie.movieTitle}}</ion-label>
                                   <br>
                                   <ion-label style="font-size: large;"><strong>Rated: </strong>{{movie.rated}}</ion-label>
                                   <br>
                                   <ion-label style="font-size: large;"><strong> Release Date: </strong>{{movie.releasedDate}}</ion-label>
                                   <br>
                                   <ion-label style="font-size: large;"><strong>Run Time: </strong>{{movie.movieRuntime}}</ion-label>
                                   <br>
                                   <ion-label style="font-size: large;"><strong>Genre: </strong>{{movie.genre}}</ion-label>
                                   <br>
                                   <ion-label style="font-size: large;"><strong>Plot: </strong>{{movie.plot}}</ion-label>
                                   <br>
                                   <ion-label style="font-size: large;"><strong>Actors: </strong>{{movie.actors}}</ion-label>
                                   <br>
                                   <ion-label style="font-size: large;"><strong> Awards: </strong>{{movie.awards}}</ion-label>
                                   <br>
                                   <br>
                                   <ion-button expand="block" (click)="venuAndLocationNav(movie._id)">Book Ticket</ion-button>
                                </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </ion-card>      
                </ion-col>
            </ion-row>
            </ion-grid>
        </ion-col>
    </ion-row>
    </ion-grid>
    </ion-content>
    <ion-footer>
        <ion-grid>
            <ion-row>
                <ion-col size-md="0.5" offset-md="0.5" (click)="homeNav()">
                   <ion-label style="color: white;"><strong>Home</strong></ion-label> 
                </ion-col>
                <ion-col size-md="0.7" (click)="aboutusNav()">
                    <ion-label style="color: white;"><strong>About Us</strong></ion-label>
                </ion-col>
                <ion-col size-md="1.2" (click)="openmodalterms()">
                    <ion-label style="color: white;"><strong>Terms & Conditions</strong></ion-label>  
                </ion-col>
                <ion-col (click)="openmodalCustomer()">
                    <ion-label style="color: white;"><strong>Contact Us</strong></ion-label>  
                </ion-col>
                    <ion-col>
                      <ion-grid>
                          <ion-row style="float: right;">
                              <ion-col size-md="4" >
                                <a href="https://www.instagram.com/movbook.lk/">
                                    <ion-icon name="logo-instagram" style="font-size: x-large; padding-right: 20px;"></ion-icon>
                                    </a>
                              </ion-col>
                              <ion-col size-md="4">
                                <a href="https://twitter.com/movbook_lk">
                                    <ion-icon name="logo-twitter" style="font-size: x-large;  padding-right: 20px;"></ion-icon>
                                    </a>
                            </ion-col>
                            <ion-col size-md="4">
                                <a href="https://www.facebook.com/mov.book.5/">
                                    <ion-icon name="logo-facebook" style="font-size: x-large;  padding-right: 20px;"></ion-icon>
                                  </a>
                            </ion-col>
                          </ion-row>
                      </ion-grid>
                    </ion-col>
            </ion-row>
        </ion-grid>
    </ion-footer>