<ion-header>
    <ion-toolbar>
      <ion-title>
        Edit Profile
     </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closemodal()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid style="padding-top: 50px;">
      <ion-row>
        <ion-col>
          <form>
            <ion-item>
              <ion-label position="floating">First Name</ion-label>
              <ion-input type="text" name="Fname"  [(ngModel)]="profile.name.firstName" placeholder={{profile.name.firstName}}></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-label position="floating">Middle Name</ion-label>
              <ion-input type="text" name="Mname"  [(ngModel)]="profile.name.middleName" placeholder={{profile.name.middleName}}></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-label position="floating">Last Name</ion-label>
              <ion-input type="text" name="Lname"  [(ngModel)]="profile.name.lastName" placeholder={{profile.name.lastName}}></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-label position="floating">Mobile Number</ion-label>
              <ion-input type="text" name="Mnumber" [(ngModel)]="profile.phone" placeholder={{profile.phone}}></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-label position="floating" >Street Address</ion-label>
              <ion-input type="text" name="Streetaddress" [(ngModel)]="profile.address.streetAddress" placeholder={{profile.address.streetAddress}}></ion-input>
            </ion-item>
            <br>
            <br>
            <ion-item>
              <ion-label position="floating">City</ion-label>
              <ion-input type="text" name="city" [(ngModel)]="profile.address.city" placeholder={{profile.address.city}}></ion-input>
            </ion-item>
            <br>
            <br>
            <ion-item>
              <ion-label position="floating" >Postal zip code</ion-label>
              <ion-input type="text" name="Zipcode" [(ngModel)]="profile.address.postalZipCode" placeholder={{profile.address.postalZipCode}}></ion-input>
            </ion-item>
            <br>
            <br>
            <br>
            <ion-button expand="full" (click)="userupdate()">Update user</ion-button>
          </form>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="closemodal()" expand="full">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  