<ion-header>
  <ion-toolbar>
    <ion-title>
      Edit Profile
   </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closemodal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid style="padding-top: 50px;">
    <ion-row>
      <ion-col>
        <form>
          <ion-item>
            <ion-label position="floating" >First Name</ion-label>
            <ion-input type="text" name="Fname"  [(ngModel)]="UFname" placeholder={{profile.Fname}}></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating" >Middle Name</ion-label>
            <ion-input type="text" name="Mname"  [(ngModel)]="UMname" placeholder={{profile.Mname}}></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating" >Last Name</ion-label>
            <ion-input type="text" name="Lname"  [(ngModel)]="ULname" placeholder={{profile.Lname}}></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating" >NIC</ion-label>
            <ion-input type="text" name="NIC" [(ngModel)]="UNIC" placeholder={{profile.NIC}}></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating" >Mobile Number</ion-label>
            <ion-input type="text" name="Mnumber" [(ngModel)]="UMnumber" placeholder={{profile.Mnumber}}></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating" >Address</ion-label>
            <ion-input type="text" name="Address" [(ngModel)]="UAddress" placeholder={{profile.Address}}></ion-input>
          </ion-item>
          <br>
          <br>
          <br>
          <ion-button expand="full" (click)="userupdate()">Update user</ion-button>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="closemodal()" expand="full">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
