<app-header-component></app-header-component>
<ion-content>
<ion-grid>
    <ion-row>
        <ion-col>
            <div class="imgHolder">
                <img src="{{movieDetails.posterLink}}" style="width: 100%;">
                <span>{{movieDetails.movieTitle}}  <br>{{movieDetails.movieRuntime}}  IMDB Rating: {{movieDetails.imdb.imdbRating}}</span>
            </div>
            <div>
                <ion-grid>
                    <ion-row>
                        <ion-col size-md="12" offset-md="0.5">
                            <ion-grid>
                                <ion-row>
                                    <ion-col>
                                        <ion-label style="font-size: x-large; font-weight: bold;">Story Brief</ion-label>
                                        <br>
                                        <br>
                                        <ion-label>{{movieDetails.plot}}</ion-label>
                                        <br>
                                        <br>
                                        <ion-label>Genre: {{movieDetails.genre}}</ion-label>
                                        <br>
                                        <br>
                                        <div *ngIf="showingCheck">
                                            <ion-button style="text-align: center;" expand="full" (click)="venuSelection(movieDetails._id)">Book Tickets</ion-button>
                                        </div>
                                          </ion-col>
                                    <ion-col>
                                        <div>
                                        <ion-label style="font-size: x-large; font-weight: bold;">Cast</ion-label>
                                        <br>
                                        <br>
                                        <ion-label> Actors: {{movieDetails.actors}}</ion-label>
                                       </div>
                                       <div>
                                         <br>
                                         <ion-label style="font-size: x-large; font-weight: bold;">Team</ion-label>
                                         <br>
                                         <br>
                                         <ion-label>Director: {{movieDetails.director}}</ion-label>
                                         <br>
                                         <ion-label>Production: {{movieDetails.production}}</ion-label>
                                         <br>
                                         <ion-label>Writter: {{movieDetails.writer}}</ion-label>
                                       </div>
                                       <div>
                                         <br>
                                        <ion-label style="font-size: x-large; font-weight: bold;">About Movie</ion-label>
                                        <br>
                                        <br>
                                        <ion-label>Released Date: {{movieDetails.releasedDate}}</ion-label>
                                         <br>
                                         <ion-label>Country: {{movieDetails.country}}</ion-label>
                                         <br>
                                         <ion-label>Language: {{movieDetails.language}}</ion-label>
                                         <br>
                                         <ion-label>Awards: {{movieDetails.awards}}</ion-label>
                                      </div>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
