<ion-header [translucent]="true">
  <ion-toolbar>
      <img src="../../../../assets/images/MovBook-Logo.jpeg" style="width: 160px;border-radius: 5px;margin-bottom: 10px; padding-left: 10px;">
      <ion-icon name="person-circle-outline" slot="end" style="padding-right: 15px; font-size: 30px"></ion-icon>
      <ion-icon name="log-out-outline" slot="end" style="padding-right: 20px; padding-left: 15px; font-size: 30px;"></ion-icon>
    <ion-button slot="start" color="light">
      <ion-menu-button menu = "menuCustomer"></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid>
    <ion-row>
        <ion-col>
            <div class="imgHolder">
                <img src="{{movieDetails.poster}}" style="width: 100%;">
                <span>{{movieDetails.title}}  <br>{{movieDetails.runtime}}  IMDB Rating: {{movieDetails.imdbRating}}</span>
            </div>
            <div>
                <ion-grid>
                    <ion-row>
                        <ion-col size-md="12" offset-md="0.5">
                            <ion-grid>
                                <ion-row>
                                    <ion-col>
                                        <ion-title style="font-size: xx-large;">Story Brief</ion-title>
                                        <ion-label>{{movieDetails.plot}}</ion-label>
                                        <br>
                                        <br>
                                        <ion-label>Genre: {{movieDetails.genre}}</ion-label>
                                        <br>
                                        <br>
                                            <ion-button style="text-align: center;" expand="full" (click)="venuSelection(movieDetails._id)">Book Tickets</ion-button>
                                    </ion-col>
                                    <ion-col offset-md="2">
                                        <div>
                                        <ion-title style="font-size: xx-large;">Cast</ion-title>
                                        <ion-label> Actors: {{movieDetails.actors}}</ion-label>
                                       </div>
                                       <div>
                                         <ion-title style="font-size: xx-large;">Team</ion-title>
                                         <ion-label>Director: {{movieDetails.director}}</ion-label>
                                         <br>
                                         <ion-label>Production: {{movieDetails.production}}</ion-label>
                                         <br>
                                         <ion-label>Writter: {{movieDetails.writer}}</ion-label>
                                       </div>
                                       <div>
                                        <ion-title style="font-size: xx-large;">About Movie</ion-title>
                                        <ion-label>Released Date: {{movieDetails.released}}</ion-label>
                                         <br>
                                         <ion-label>Country: {{movieDetails.country}}</ion-label>
                                         <br>
                                         <ion-label>Language: {{movieDetails.language}}</ion-label>
                                         <br>
                                         <ion-label>Awards: {{movieDetails.awards}}</ion-label>
                                      </div>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
