<ion-list style="min-width: 240px;">
  <form [formGroup]="assignSeatForm" (ngSubmit)="assignHallSeatDetails(assignSeatForm.value)">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-button (click)="closeAssignHallSeatPopover()" color="danger" size="min-width: 100%;">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label style="font-size: 20px;">
              <b>Seating</b>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-item style="min-width: 100%;">
            <ion-label>Seat Active</ion-label>
            <ion-toggle slot="end" color="success" id="seatActiveToggle" formControlName="seatActive" (ionChange)="setSeatActiveToggle($event.detail.checked)"></ion-toggle>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label style="position: absolute;
                              top: 50%;
                              transform: translateY(-50%);" id="seatNumberInputLabel">
              Seat Number: 
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-item id="seatNumberInput">
              <ion-input type="text" clearInput formControlName="seatNumber"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item style="min-width: 100%;" id="seatUnavailableToggle">
              <ion-label>Seat Unavailable</ion-label>
              <ion-toggle slot="end" color="danger" formControlName="seatUnavailable"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="tertiary" expand="block" type="submit" [disabled]="!assignSeatForm.valid">
              ASSIGN SEAT
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </form>
</ion-list>