ion-item{
  border: #ccc solid 1px;
  border-radius: 5px;
  --ion-background-color: rgb(255, 255, 255);
}

#closeModalButton{
  margin-right: 20px;
}

.update-account-details-form-text{
  font-size: 17px;
  color: #000000;
  letter-spacing: 1px;
}
