/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-menu{
    --background: #374d58;
    --radius:25px
}
ion-content{            
    --background: #374d58;
}
//#e8e8e8;
ion-button{
    --background: #2e8ded;
}

/* Declaring new color variable */
:root {
    --ion-color-green: #009595;
    --ion-color-green-rgb: 0,149,149;
    --ion-color-green-contrast: #ffffff;
    --ion-color-green-contrast-rgb: 255,255,255;
    --ion-color-green-shade: #008383;
    --ion-color-green-tint: #1aa0a0;
}

/* Declaring new color variable */
.ion-color-green {
    --ion-color-base: var(--ion-color-green);
    --ion-color-base-rgb: var(--ion-color-green-rgb);
    --ion-color-contrast: var(--ion-color-green-contrast);
    --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb);
    --ion-color-shade: var(--ion-color-green-shade);
    --ion-color-tint: var(--ion-color-green-tint);
  }

.my-custom-modal-css .modal-wrapper {
    height: 100%;
    top: 2%;
    position: absolute; 
    display: block;  
 }

/* CSS styles for cinema halls modal */
.cinema-halls-modal .modal-wrapper {
    height: 80%;
    width: 60%;
    top: 8%;
    position: absolute; 
    display: block;  
}

/* CSS styles for add cinema locations modal */
.add-location-modal .modal-wrapper {
    height: 50%;
    width: 40%;
    top: 10%;
    position: absolute;
    display: block;
}

