<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact Information
   </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid  style="padding-left: 40px; padding-top: 20px;">
    <ion-row>
      <ion-col>
       <ion-label>E- Mail: </ion-label>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <ion-label>Phone Number: </ion-label>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <ion-label>Address: </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
