
<ion-header>
  <ion-toolbar>
    <ion-title>Enter Your Email </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main>
  <form [formGroup]="form" (submit)="onSent()"  >
    <ion-card>
      <ion-card-header>

        <ion-input formControlName="email" placeholder="Enter your email here.."></ion-input>

      </ion-card-header>
      <ion-card-content>
       <center> please check your inbox after clicking Submit. and follow the instuctions given .. Thank you </center>
      </ion-card-content>
      <br>

    </ion-card>
     <ion-button type="submit" >submit</ion-button>

    </form>
  </main>
</ion-content>
